[2019-05-04 19:38] heckflosse commented on #163
@fcomida Can you try (just to exclude it) to delete your lhdrwisdom.fftw file ?

[2019-05-04 19:41] fcomida commented on #163
@heckflosse I did it already, same result :(

[2019-05-04 19:52] heckflosse commented on #163
@fcomida Do you use the multithreaded fftw?

[2019-05-04 20:24] fcomida commented on #163
@heckflosse yes, it's linking against libfftw3f_threads.so

[2019-05-04 20:37] heckflosse commented on #163
@fcomida I'm out of ideas now :(

[2019-05-04 21:10] gaaned92 commented on #163
@heckflosse
Can you test my build, please?

[2019-05-04 21:29] heckflosse commented on #163
@gaaned92 Can you post a link to your build please?

[2019-05-05 06:23] gaaned92 commented on #163
It's here
https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_master_v.2.5.1-368-g337bbb3d_WinVista_64.exe

[2019-05-05 10:37] heckflosse commented on #163
@gaaned92 With your build I also can not reproduce the bug @fcomida reported. But your build still has the gui bug I reported above

[2019-05-05 17:22] fcomida commented on #163
@heckflosse @gaaned92 so it's only with linux, or at least with fedora. I ran @gaaned92 build through wine: no issues.

[2019-05-05 17:51] heckflosse commented on #163
@fcomida I will build lhdr on Manjaro in VirtualBox and see what happens. But it may take a day or two...

[2019-05-06 12:49] fcomida commented on #163
@heckflosse elementaryOS (ubuntu based): same issue. It does not seem to be related to multi-threading though, I put a mutex around reinhard02 and still the same bug. Puzzled.

[2019-05-06 14:26] heckflosse commented on #163
@fcomida Maybe uninitialized memory access?

[2019-05-06 16:02] fcomida commented on #163
@heckflosse I'll run it in valgrind later

[2019-05-06 16:45] mikhirev opened #167 "Wrong tooltip for highlights clipping methods"
Hi!

In the preferences dialog, there are the following highlight clipping methods: "Solid White", "Do not transform", "Blend" and "Reconstruct". Although in the tooltip these methods are listed with different names: "Solid white", "Unclip", "Blend" and "Rebuild".

[2019-05-06 17:28] heckflosse commented on #163
@fcomida I'm already building on Manjaro. I hope I can reproduce and then find something.

[2019-05-06 17:37] fcomida commented on #167
@mikhirev Well spotted!!!

[2019-05-06 17:47] fcomida commented on #163
Using scales

==12985== Memcheck, a memory error detector
==12985== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==12985== Using Valgrind-3.15.0 and LibVEX; rerun with -h for copyright info
==12985== Command: ./luminance-hdr-cli --tmo reinhard02 --tmoR02Scales true -o test.jpg -l /home/franco/Immagini/HDR/84y7.hdr
==12985==
==12985== Conditional jump or move depends on uninitial

[2019-05-06 17:53] fcomida commented on #163
No scales

==16286== Memcheck, a memory error detector
==16286== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==16286== Using Valgrind-3.15.0 and LibVEX; rerun with -h for copyright info
==16286== Command: ./luminance-hdr-cli --tmo reinhard02 -o test.jpg -l /home/franco/Immagini/HDR/84y7.hdr
==16286==
==16286== Conditional jump or move depends on uninitialised value(s)
==16286==

[2019-05-06 18:16] fcomida commented on #163
@heckflosse I ran all tmos through valgrind and definitely there's a leak in reinhard02 using scales
==12985== LEAK SUMMARY:
==12985==    definitely lost: 49,216 bytes in 9 blocks
==12985==    indirectly lost: 0 bytes in 0 blocks
==12985==      possibly lost: 1,248 bytes in 3 blocks
==12985==    still reachable: 21,912 bytes in 29 blocks
==12985==         suppressed: 0 bytes in 0 blocks
==12985==

[2019-05-07 11:16] heckflosse commented on #163
@fcomida Does this fix the leak?

[code]

[2019-05-07 11:37] fcomida commented on #163
@heckflosse it almost does.  With `fftwf_free(m_filter_fft);` there are no leaks.

[2019-05-08 15:39] heckflosse commented on #163
@fcomida I build LHDR from scratch on a fully updated Manjaro system in a virtual machine. Still cannot reproduce :(

![grafik](https://user-images.githubusercontent.com/13733487/57388224-0dbe3080-71b8-11e9-8477-75c07c6cacd6.png)

[2019-05-08 16:20] heckflosse commented on #163
@fcomida Now I can reprocude it on Windows \o/. Searching...

[2019-05-08 16:27] heckflosse commented on #163
@fcomida With this patch I can not reproduce it anymore:

[code]

[2019-05-08 16:37] heckflosse commented on #163
@fcomida On Manjaro I get a lot of this console output when running LHDR:

[code]

while I get no console output on Windows. Both are build from scratch. Can we get rid of this output for the release?

[2019-05-08 18:00] fcomida commented on #163
@heckflosse Building in Release mode should suppress all console output.

[2019-05-08 18:07] heckflosse commented on #163
@fcomida Ah, ok. Thank you :+1:

[2019-05-08 18:27] fcomida commented on #163
@heckflosse wow easy to reproduce on Windows now. Only the preview gets affected though :(

[2019-05-08 18:37] heckflosse commented on #163
@fcomida with my patch?

[2019-05-08 18:38] fcomida commented on #163
@heckflosse oh I was running @gaaned92 build through wine.

[2019-05-08 18:42] heckflosse commented on #163
@fcomida Try my patch on Linux. Should fix the issue

[2019-05-08 18:52] fcomida commented on #163
@heckflosse That's it!!! Great!!!
I also simplified the code using fftw new array functions and building just one plane. I'll push these changes in a branch later.

[2019-05-08 19:07] heckflosse commented on #163
@fcomida Shall I push to master or will you do?

[2019-05-08 19:16] fcomida commented on #163
@heckflosse I pushed to master. Can you please have a look at reinhard02-fix branch?

[2019-05-08 19:20] heckflosse commented on #163
@fcomida I will have a look after supper.

[2019-05-08 21:55] heckflosse commented on #163
@fcomida I think we should release 2.6 asap and keep your new branch for the next release

[2019-05-09 07:59] Beep6581 opened #168 "Typo in HDR Creation Wizard"
s/proceedings/proceeding/

How can I review all English language strings, where do I find them?

[2019-05-09 08:01] Beep6581 commented on #163
I used
[code]
but I still get loads of debug output in the console, in Sabayon Linux.

[2019-05-09 08:17] Beep6581 opened #169 "Preview thumbnail width"
`v.2.5.1-376-g`e7aa8f02

There is an option in Preferences, "Default Previews Width", it's set to 400px. If this is meant to apply to the preview thumbnails on the right, then it doesn't seem to work, at those thumbs are about 112px wide.

![screenshot_20190509_101434](https://user-images.githubusercontent.com/5844619/57438169-9a620080-7243-11e9-8bd6-2e8be87ee960.png)

[2019-05-09 08:20] Beep6581 opened #170 "Ferwerda parameters make almost no difference"
`v.2.5.1-376-g`e7aa8f02

The "multiplier" and "adaptation luminance" parameters in the Ferwerda TMO make almost no difference:

![screenshot_20190509_101455](https://user-images.githubusercontent.com/5844619/57438266-d5fcca80-7243-11e9-978c-47f19b306781.png)

![screenshot_20190509_101505](https://user-images.githubusercontent.com/5844619/57438267-d5fcca80-7243-11e9-87b5-fba1ed60c78b.png)

[2019-05-09 08:30] Beep6581 commented on #170
The lack of difference was caused by "Auto Levels" being enabled.

[2019-05-09 08:30] #170 closed

[2019-05-17 07:59] fcomida commented on #169
@Beep6581 It's the size of tonemapped image after you click on a preview on the right.

[2019-05-17 08:04] fcomida commented on #168
@Beep6581 Building with cmake -DUPDATE_TRANSLATIONS=ON should produce a source.ts file under i18n

[2019-05-17 08:13] fcomida commented on #168
@Beep6581 you can also check/download source language from transifex

[2019-05-17 11:53] Beep6581 commented on #169
Ah, then would be good to label this under some "language strings" label ("l10n"?), and assign it to me, then I'll review it when doing #168

[2019-05-17 12:48] fcomida commented on #169
@Beep6581 That label is indeed misleading

[2019-05-17 13:02] Beep6581 commented on #169
Yes, but I meant
1. to add a label to this GitHub issue to easily track all issues related to interface labels and their translations https://github.com/LuminanceHDR/LuminanceHDR/labels
1. to assign the issue to me, so I don't forget
1. and perhaps to create a milestone for the next release and add this issue to that milestone, to easily track what has been and still needs to be done for a given r

[2019-05-18 12:51] fcomida commented on #168
@Beep6581 [all source strings](https://paste.fedoraproject.org/paste/nvMb-Xd23LLPOAaxXkYsYw)

[2019-05-18 15:58] gaaned92 commented on #161
@logixoul
I will not directly answer your question. Sorry for that.
I think that the easiest way to build LuminanceHDR for windows is using  MSYS2 with the GCC environment.
I provide luminanceHDR installer for windows  see https://keybase.pub/gaaned92/HDRNightlyBuilds/
The building on MSYS2 is not really documented. You have to refer to the Linux build process.  If you need it, I can give some hel

[2019-05-18 16:16] heckflosse commented on #161
@gaaned92 At least it's partly documented [here](https://github.com/LuminanceHDR/LuminanceHDR/tree/master/build_files/platforms/msys2)

[2019-05-18 16:35] heckflosse commented on #161
@gaaned92 As you have the most experience in building lhdr using msys2, could you make a pr with updated build instructions? That would be great!

[2019-05-19 16:44] jmbouffard opened #173 "Batch HDR introduces glitches in pictures"
I'm running Luminance 2.5.1 on Windows 10.
When running a batch creation of HDR files, the results on some of the files contain glitches. The most common are a bunch of horizontal lines of various colors (see included sample) but I also saw a bunch of black dots on some occasions.

If I re-create the exact same HDR image using the UI (not the batch) with the same parameters, it creates the HDR wit

[2019-05-19 17:47] heckflosse commented on #173
@jmbouffard Can you try the latest Windows build please?
https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_master_v.2.5.1-384-g7d8b3b4e_WinVista_64.exe

[2019-05-20 08:31] gaaned92 commented on #161
@heckflosse
I am going to check

[2019-05-20 09:04] fcomida commented on #163
Some fixes (not related to #173) to BatchHDR on the go.

[2019-05-20 13:14] Beep6581 commented on #163
The `INSTALL` file looked like it collected many changes which didn't go well together, and some parts were incorrect and obsolete, so I wrote a new one from scratch, with one simple to follow route through the whole process. It's ready for merging.

[2019-05-20 13:33] jmbouffard commented on #173
@heckflosse I installed the provided build and ran the same process over my 45 files (15 pictures) and all hdr and tone mapped images turned out ok.
The only thing with the new build is that I cannot save the tonemap parameters for re-use in the batch process. The UI panel to save settings and the UI panel for "Fast Export" are nowhere to be found.

[2019-05-21 12:50] gaaned92 commented on #161
I am not yet able to generate a PR but this is a patch file

[0001-Update-of-build_files-platforms-msys2-README.txt.patch.txt](https://github.com/LuminanceHDR/LuminanceHDR/files/3202556/0001-Update-of-build_files-platforms-msys2-README.txt.patch.txt)

[2019-05-21 13:07] heckflosse commented on #161
@gaaned92 Thanks a lot. I will have a look now.

Btw: you can fork LuminanceHdr and create a PR from your fork

[2019-05-21 18:35] gaaned92 commented on #161
@logixoul
Did you try the MSYS2 way, where all dependencies are available?

[2019-05-21 18:48] heckflosse commented on #161
@gaaned92 I need a bit more time because I will setup a fresh msys2 installation for checking the instructions

[2019-05-22 10:21] logixoul commented on #161
@gaaned92
Thanks for the info. I don't currently need to build lhdr anymore, so I haven't tried your suggestion.

[2019-05-23 09:18] fcomida commented on #163
@Benitoite @heckflosse @Beep6581 @gaaned92
I pushed various fixes to HdrWizard related to custom HDR creation parameters (UI and program logic).
Some fixes to BatchHDR too.

[2019-05-23 16:28] fcomida commented on #163
@heckflosse Is [coverity scan](https://scan.coverity.com/projects/luminancehdr) still working?
I cannot make a successful build with their tools (from 2017) anymore.

[2019-05-23 16:31] heckflosse commented on #163
@fcomida Don't know. Ping @Beep6581

[2019-05-23 20:08] Beep6581 commented on #163
Coverity was broken for so long (i.e. "You're 400 in queue" for days on end) I gave up on it.

[2019-05-23 22:02] fcomida commented on #163
@Beep6581 have you heard of [lgtm](lgtm.com)?

[2019-05-24 18:35] hrtckr689 opened #176 "Huge ram usage for large image"
I am using luminance for processing hdr tmo of image about 200Mega-Pixels, it need more than 16GB of ram where my computers only have 8GB of ram. If I use more paging memory, the harddrive will be very busy while the processor stays idle. I think its good to consider removing pfs kind of streaming process that luminance use for working. I also think it will be more better if each of the tmo execut

[2019-05-24 19:09] heckflosse commented on #176
@hrtckr689 Which version of Luminance hdr are you using and which tone mapping operator(s)?

[2019-05-24 19:44] hrtckr689 commented on #49
It is true, openexr and radiance rgbe does support icc profile. From my experience with many image-processing apps, all images with prophoto or widegamut alike color profiles has broader colors than linear-srgb colors, because probably it is clipped and treated the same way as 8-bit srgb. The result is 16 bit or 32 bit but with the color of 8 bit, it is missing the point of using 32 bit is to get

[2019-05-25 09:21] fcomida commented on #176
@hrtckr689 You are proposing a complete rewriting of the application. I think it would never happen.

[2019-05-25 10:39] michelchafouin opened #177 "Reading only Exposure Bias from the EXIF Data?"
I have captured high dynamic range scenes using 2 brackets. My camera only support 5-exposure bracketings so I have 2 brackets of 5 exposures with a different start shutter speed.
The problem is that when I imported all the images in LuminanceHDR, it finds the exposure from the EXIF, but seems to only get the information from the Exposure Bias, not the actual exposure of the image. Which means tha

[2019-05-27 01:19] hrtckr689 commented on #176
Im using luminanceHDR 2.5.1 with mantiuk06 tmo

[2019-05-27 10:01] fcomida commented on #176
@hrtckr689 Next 2.6 release will have some improvement in both speed and memory usage (thanks to @heckflosse )

[2019-05-27 11:46] heckflosse commented on #176
@hrtckr689 Concerning mantiuk06 tmo, the peak memory usage for a 200 MP image should be reduced by ~ 800 MB in 2.6

[2019-06-05 10:34] fcomida commented on #163
@Benitoite @heckflosse @gaaned92 @Beep6581
Guys, I am going to release it this weekend, otherwise it'll never happen.

[2019-06-05 11:05] Beep6581 commented on #163
Hey @fcomida

I have not heard of LGTM before, will look into it.

I am away until next week, so will leave the two localization issues assigned to me for the subsequent release.

[2019-06-06 10:21] Benitoite commented on #163
@fcomida etc. https://github.com/LuminanceHDR/LuminanceHDR/pull/178 macOS INSTALL update for 2.6

[2019-06-06 13:11] Benitoite commented on #163
Thanks @fcomida I just noticed a typo I made, so https://github.com/LuminanceHDR/LuminanceHDR/pull/179

[2019-06-06 17:55] Benitoite commented on #163
Thanks again, *sorry about that*.  Here is an update to align_image_stack libraries... https://github.com/LuminanceHDR/LuminanceHDR/pull/180

[2019-06-06 19:23] Benitoite commented on #163
@fcomida Funny story, the cmake command was working fine, the I happened to put it in a script.  It wouldn't work unless I added a space.  😆 https://github.com/LuminanceHDR/LuminanceHDR/pull/181

 :-D

[2019-06-07 12:11] gaaned92 commented on #163
@heckflosse did you reviewed the modifications to build_files\platforms\msys2\README.txt?

@fcomida when you make your  release, can you tag the release? (2.6 or 2.6.0 or v2.6.0 or v.2.6.0)

https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_master_v.2.5.1-408-g0a68ee75_WinVista_64.exe
uploaded

[2019-06-07 13:00] heckflosse commented on #163
@gaaned92 André, not yet :( Can you point me again to the modifications?

[2019-06-07 13:35] fcomida commented on #163
@gaaned92 Sure, v.2.6.0
If everything is (almost) ok I'm gonna tag the release this Sunday.
A tarball with the sources will be uploaded to sourceforge.net, can we do the same here on GitHub?
It would be good to sign the tarball too and publish the checksum on README.md

[2019-06-08 07:37] gaaned92 commented on #163
@heckflosse

https://github.com/LuminanceHDR/LuminanceHDR/files/3202556/0001-Update-of-build_files-platforms-msys2-README.txt.patch.txt

[2019-06-09 09:42] heckflosse commented on #163
@gaaned92 Does this work at your system?
[code]

I get this:
[code]

[2019-06-09 09:51] heckflosse commented on #163
@gaaned92 There needs to be a space after "Release"
[code]

[2019-06-09 12:08] fcomida commented on #163
Guys, I am ready to tag the release if I have a "GO"

[2019-06-09 12:17] heckflosse commented on #163
@fcomida Go from me, as the needed changes are only for instructions how to build on msys2

[2019-06-09 13:05] gaaned92 commented on #163
@heckflosse
Forgot to update after test. Correct syntax:

`pacman -S mingw-w64-x86_64-{lcms2,fftw,libjpeg-turbo,libtiff,libpng,libraw,qtwebkit,boost,exiv2,openexr,gsl,cfitsio,eigen3}`

[code]

[2019-06-09 20:05] fcomida commented on #163
@Benitoite @gaaned92 do you need access to sourceforge for uploading your binaries?

[2019-06-09 20:32] heckflosse commented on #163
@fcomida Just release 2.6.0 ;-)

[2019-06-09 22:09] fcomida opened #182 "Luminance HDR 2.6.0 released"
@LuminanceHDR/collaborators
So it's out, eventually!!!
Thanks to everybody for your help.

[2019-06-09 22:51] Benitoite commented on #163
@fcomida my sourceforge is https://sourceforge.net/u/kd6kxr/
I can put a Mac build after the bbq, within the next 6-12 hours.

[2019-06-10 08:32] Benitoite commented on #163
@fcomida

I was able to package the app so it works in macOS 10.15 *Catalina* using notarization and fixing some disallowed null relative paths. An app using Qt5.9.8 is also here for *Yosemite* and *El Capitan* dwellers.

For macOS 10.12,13,14,15 https://keybase.pub/kd6kxr/LuminanceHDR_2.6.0-Qt5.13.dmg
For macOS 10.10,11 https://keybase.pub/kd6kxr/LuminanceHDR_2.6.0-Qt5.9.dmg

:barber:

[2019-06-10 11:50] fcomida commented on #163
@Benitoite Thanks, I uploaded both images on Sourceforge.

[2019-06-10 12:32] gaaned92 commented on #182
https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_v.2.6.0_WinVista_64.exe
uploaded

[2019-06-10 12:34] gaaned92 commented on #163
https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_v.2.6.0_WinVista_64.exe
uploaded

[2019-06-10 12:52] fcomida commented on #182
@gaaned It seems that WinVista is sugfesting it's built in/for Windows Vista only.
If it can be installed/run on all windowses I'd rename the installer to something more generic

[2019-06-10 13:01] heckflosse commented on #182
@fcomida The build from @gaaned92 works fine here on Win7/64

[2019-06-10 13:14] Beep6581 opened #183 "Rename README.i18n to LOCALIZATION.txt"
An extension typically signifies the file format. While `README.md` follows that convention, `README.i18n` does not, and leads to confusion. I suggest renaming it to `LOCALIZATION.txt` (or LOCALIZATION.md` in the future).

[2019-06-10 13:19] Beep6581 commented on #163
Quick test, LHDR v.2.6.0 compiled and ran fine in Sabayon.
![screenshot_20190610_151927](https://user-images.githubusercontent.com/5844619/59198076-2cd32800-8b93-11e9-8fdd-ad57c13fbc35.png)

[2019-06-10 13:36] fcomida commented on #182
@gaaned92 @heckflosse I was referring to the installer name with "WinVista" in it, it's misleading.

[2019-06-10 13:49] heckflosse commented on #182
@fcomida I know, just wanted to confirm that it works fine on Win7/64 as well. :+1: from me to rename it.

[2019-06-10 15:11] fcomida commented on #182
@gaaned92 you should deploy the various qt_XZ.qm files. They contains Qt5 specific translations and go into i18n as well. Look up Qt5 translations deployment docs.
You must locate the various qtbase_XX.qm files and run for example: 'lconvert -o qt_it.qm qtbase.it' . Those qt_XX.qm for all languages supported by lhdr must go into <LHDR_INSTALL_PATH>\i18n\

[2019-06-10 16:23] gaaned92 commented on #182
@fcomida
- I replace WinVista by Windows. Furthermore, I am not sure the exe can run on Winvista!

- Ah! the deployment of QT applications is allways a pain! luckily, luminance HDR doesn't require a lot of QT stuff.

https://keybase.pub/gaaned92/HDRNightlyBuilds/Luminance-HDR_v.2.6.0_Windows_64.exe
Uploaded

[2019-06-10 16:47] fcomida commented on #182
@gaaned92 Thank you so much!!! Uploaded to sourceforge.
It runs perfectly ok through Wine!!! Don't think it'll run on Vista °_° ahahah

[2019-06-12 19:16] prokoudine opened #184 "FITS as source files for new HDRs"
Shouldn't it be possible to use FITS files as source images for building a new HDR image? Currently, the file format is unavailable in supported types when you add images in the HDR wizard.

[2019-06-12 21:21] fcomida commented on #184
@prokoudine There's a FITS importer but apparently nobody has never used it. If you are gonna playing with astrophotography I'm sure there's a lot to polish and fix there. Any feedback is very much needed.

[2019-06-12 21:25] fcomida commented on #184
@prokoudine FITS support is optional. If CMAKE finds the cfitsio library it'll enable it.

[2019-06-12 22:00] fcomida commented on #184
![eagle_nabula](https://user-images.githubusercontent.com/11018726/59389273-3bc20200-8d6e-11e9-8a36-08f56ddc9b43.jpg)

[2019-06-12 22:01] prokoudine commented on #184
But that's not what I'm saying at all :)))

I know I can open a FITS file. But I can't stack multiple FITS files in the wizard. There's simply no such file format filter in the Add File dialog.

[2019-06-12 22:04] fcomida commented on #184
@prokoudine That's because you can only find FITS files that contain "astro" data :)))

Opening FITS files in the wizard has no use.

[2019-06-12 22:10] fcomida commented on #184
@prokoudine I mean, FITS is a very capable image file format like TIFF (I think it's an extension of TIFF or vice-versa). So it's possible to save all kind of data in a FITS. To my knowledge nobody uses it for "regular" photography and "astro" photography is very different in many ways.

[2019-06-13 13:44] fcomida commented on #184
@prokoudine I'm gonna close this one. Feel free to reopen it if you have more information on how to open FITS files in the wizard. Thank you.

[2019-06-13 13:44] #184 closed

[2019-06-13 13:51] fcomida commented on #183
And the information there is mostly useless for people who want to contribute translations. I think a first section is needed to explain how to join our transifex team of translators and/or how to add a new language.

[2019-06-14 12:03] fcomida commented on #182
@heckflosse what's the status of librtprocess?
I'll try to find more time and begin the work of integrating it in LHDR.
No activity on the localization effort front too, sad.

[2019-06-14 12:11] #163 closed

[2019-06-14 12:15] heckflosse commented on #182
@fcomida librtprocess is already usable, but the interface will get some changes. Though that shouldn't hinder you to start integrating it.

[2019-06-14 12:17] fcomida commented on #173
@jmbouffard saving hdr fusion custom parameters (custom response curve included) and re-using them in Batch HDR should now work.
If you can do some testing it'd be great, thank you.

[2019-06-14 12:18] heckflosse commented on #130
@fcomida I think we should close this issue and create a new one to start integrating librtprocess from scratch. ok?

[2019-06-14 12:21] jmbouffard commented on #173
@fcomida I can can do some testing soon for sure but would need to know where I can get the latest build with the included fix?

[2019-06-14 12:24] fcomida commented on #182
The all raw processing code needs a huge overhaul. Newer versions of LibRaw introduced many new processing options that should be exposed in the UI, and of course the now missing demosicing algos.
Let's see how it goes.

[2019-06-14 12:28] fcomida commented on #173
@jmbouffard we just released 2.6.0 which has all this fixes. Get it from sorceforge as usual.

[2019-06-14 12:31] heckflosse commented on #182
Which are these new processing options?

[2019-06-14 12:32] fcomida commented on #130
@heckflosse go ahead, I'll branch master and push "librtprocess-integration" for doing the work.

[2019-06-14 12:36] heckflosse commented on #130
Ok

[2019-06-14 12:36] #130 closed

[2019-06-14 12:43] fcomida commented on #182
https://www.libraw.org/docs/API-datastruct.html#libraw_output_params_t

Some are specific to certain camera models.
Does integrating lensfun make sense for LHDR?

[2019-06-14 12:53] fcomida commented on #182
@heckflosse I was comparing our UI with Digikam's RAW settings UI which has more options for the underlying LibRaw.

[2019-06-14 13:05] fcomida opened #185 "Luminance HDR librtprocess integration"
@LuminanceHDR/collaborators @heckflosse @Beep6581
I pushed the librtprocess-integration branch.
The work for integration librtprocess will be done there.

[2019-06-14 13:25] heckflosse commented on #185
@fcomida Maybe you can use this (from my old branch) as a starting point
https://github.com/LuminanceHDR/LuminanceHDR/commit/fbf1af6fe4710579ea0e66556836ef88b9819870

[2019-06-16 18:12] fcomida commented on #185
@heckflosse experimenting with demosicing algos. Do you have any links to docs/info mainly about foveon/xtrans?

[2019-06-16 18:32] heckflosse commented on #185
@fcomida
foveon records 3 channels => no demosaic
xtrans: 3-pass is the best to resolve details, 1-pass is good-enough for noisy shots, Dual-demosaic (xtrans+fast) is not yet in librtprocess

[2019-06-16 19:45] heckflosse commented on #185
@fcomida plain xtrans-fast should only be used for preview. Use
[code]
or
[code]

[2019-06-16 19:49] fcomida commented on #185
@heckflosse OK, xtrans matrix should be read/exposed by LibRaw but apparently is not. There's also a xtrans_abs to be used for image borders.

[2019-06-16 20:09] heckflosse commented on #185
@fcomida Have a look at hdrmerge code for xtrans. It also uses libraw to decode the rafs:
https://github.com/jcelaya/hdrmerge/search?q=xtrans&unscoped_q=xtrans

Anyway, I will chime in soon. Just had to port the rt code to librtprocess last days...

[2019-06-16 20:56] heckflosse commented on #185
@fcomida Maybe @butcherg, @aferrero2707, @CarVac can give a helping hand porting lhdr using librtprocess. They all use librtprocess in combination with libraw.

[2019-06-16 21:17] fcomida commented on #185
@heckflosse thank you. It seems I got it right for regular bayer filters. I'll leave xtrans for another day.

[2019-06-17 01:02] butcherg commented on #185
My libraw/librtprocess is a little off-beat; I collect the cfarray into a string in order to attach it to my internal image here:

https://github.com/butcherg/rawproc/blob/master/src/rawimage.cpp#L880

Then, I parse that string into a cfarray as expected by librtprocess in this routine:

https://github.com/butcherg/rawproc/blob/master/src/gimage.cpp#L2432

that each demosaic method  uses to constr

[2019-06-17 03:05] CarVac commented on #185
In Filmulator this is where I grab the color filter array stuff:

https://github.com/CarVac/filmulator-gui/blob/09306d6247ee739002b689b8b2accc947c5b2e1d/filmulator-gui/core/imagePipeline.cpp#L204

I detect whether it's X-Trans or not by recording the max value of the x-trans array, and use that to determine whether to call the Bayer demosaic algorithm(s) or the X-Trans one.

[2019-06-17 04:33] fcomida commented on #185
@butcherg @CarVac Thank you guys.

This Fuji S5Pro RAF doesn't work.
![Fuji_S5PRO_V106_RAF](https://user-images.githubusercontent.com/11018726/59578697-bcb02f00-90c9-11e9-8072-bbc19b4e666f.png)

[2019-06-17 04:34] CarVac commented on #185
The S5 Pro is not X-Trans, it's Super CCD EXR.

[2019-06-17 04:38] fcomida commented on #185
@CarVac xtrans matrix is empty so it calls amaze (with regular cfa matrix).

[2019-06-17 04:39] CarVac commented on #185
Hmm. I actually have no clue how to properly handle that.

[2019-06-17 04:40] fcomida commented on #185
@CarVac Yeah, it's not a rectangular sensor.

[2019-06-17 11:30] heckflosse commented on #185
@fcomida Maybe intersting for you also on Linux:
https://github.com/CarVac/librtprocess/issues/43
Can you test if adding `-DCMAKE_BUILD_TYPE="Release"` to the cmake command makes a difference (performancewise) on Linux?

[2019-06-17 11:57] fcomida commented on #185
@heckflosse Huge difference!!!

[2019-06-17 11:58] fcomida commented on #185
I'm trying to figure out how to handle Fuji SuperCCD.

[2019-06-17 12:05] heckflosse commented on #185
@fcomida Franco, you may search for `(fuji)` here
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/rawimagesource.cc

[2019-06-17 12:24] heckflosse commented on #185
@fcomida Franco, on Windows I get this error:
[code]

[2019-06-17 12:54] fcomida commented on #185
@heckflosse fix pushed

[2019-06-17 13:08] heckflosse commented on #185
@fcomida Thanks. Opening bayer files I get this:
[code]

[2019-06-17 13:17] fcomida commented on #185
@heckflosse can you get a backtrace?

[2019-06-17 13:24] heckflosse commented on #185
@fcomida Just making debug build

[2019-06-17 13:27] heckflosse commented on #185
@fcomida Using the debug build it crashes even before demosaic:
[code]

[2019-06-17 13:34] heckflosse commented on #185
@fcomida That happened with this file: https://github.com/CarVac/librtprocess/files/3296302/P1000009.zip

[2019-06-17 13:48] fcomida commented on #185
@heckflosse it doesn't crash here with that file

[2019-06-17 13:57] heckflosse commented on #185
@fcomida Hmm, but this looks not good:
[code]

[2019-06-17 14:03] fcomida commented on #185
@heckflosse for some reason it failed reading image size:
        W = 0
        H = 8716533
        tempFrame = {m_width = 1839846544, m_height = 1839846560, m_tags = {

[2019-06-17 14:33] fcomida commented on #185
@heckflosse does a clean build help?
I'm opening all kind of raws with no issues.

[2019-06-17 14:56] heckflosse commented on #185
@fcomida That was on a clean build.

This fixes it:
[code]

[2019-06-17 15:06] heckflosse commented on #185
@fcomida This one is better:

[code]

[2019-06-17 15:22] heckflosse commented on #185
@fcomida This one shows what was wrong. If you don't want to allocate on the stack for the structure, use this one:

[code]

[2019-06-17 16:23] fcomida commented on #185
@heckflosse That was silly.

[2019-06-20 18:21] fcomida commented on #182
@gaaned92 https://sourceforge.net/p/qtpfsgui/bugs/230/

[2019-06-21 21:12] #157 closed

[2019-06-21 21:13] #167 closed

[2019-06-21 21:16] fcomida commented on #136
@epeeist is the issue still present in 2.6.0?

[2019-06-21 21:17] #132 closed

[2019-06-21 21:18] #129 closed

[2019-06-21 21:19] fcomida commented on #128
No reply so I am closing this.

[2019-06-21 21:19] #128 closed

[2019-06-21 21:25] #60 closed

[2019-06-22 17:20] jmbouffard commented on #173
@fcomida I tried the same "batch HDR" process with the same 45 original files to get 15 HDR files. Then I ran the "batch tone mapping" on all 15 images. All final tone mapped JPG images where created with no glitch. So it seems that for this example the issue is fixed. Thanks.

[2019-06-22 17:20] #173 closed

[2019-06-22 17:34] jmbouffard commented on #99
I'm not certain if it is related, but I'm pretty sure Luminance 2.4 was detecting the exposure values from my Canon EOS T3i and it stopped working on 2.5.1 and still not detected on 2.6.
I also have a Canon EOS 80D and the exposure values are detected properly on 2.5.1 and 2.6 (never tried 2.4 with the 80D).

[2019-06-22 18:42] fcomida commented on #99
Well the "amount of light" reaching the sensor depends from both the aperture and shutter speed. The same EV value can be obtained with a big aperture and short exposure time or with a small aperture and long exposure time.
In HDR imagine one keeps the aperture fixed and changes the exposure time among the shots because changing the aperture will change the depth of field (what part of the scene i

[2019-06-22 18:48] heckflosse commented on #99
And also changes vignetting, diffraction ...
Always shoot using same aperture for a series of hdr images.

[2019-06-22 18:53] fcomida commented on #99
@heckflosse Davide changed the code for getting the EV values from EXIF data in 2.5.0. I'll check what changes he made.

[2019-06-22 19:01] fcomida commented on #99
@heckflosse since we are interested in the relative EV difference among shots I guess we can set a "default" aperture in case it's missing. Does it make any sense?

[2019-06-22 19:05] heckflosse commented on #99
@fcomida makes sense

[2019-06-24 19:13] fcomida commented on #177
@michelchafouin
**LHDR** reads **Exif.Photo.ExposureTime** or **Exif.Photo.ShutterSpeedValue** and **Exif.Photo.FNumber** or **Exif.Photo.ApertureValue** tags. If **Exif.Photo.ISOSpeedRatings** is available it uses that value too for calculating the final **EVs**, otherwise **iso = 100** is assumed.
Since only the relative difference in **EV** does matter, an offset is added.
Your camera takes 5 p

[2019-06-25 05:52] michelchafouin commented on #177
Thank you for answering, I don't understand the exposure results since you are calculating the EVs the way I would expect it to be.

They don't have the same exposures as the start exposure is different. I am shifting the start exposure by 10 EV between the two brackets for instance.

[2019-06-25 11:17] fcomida commented on #177
@michelchafouin could you please upload a set of exposures for me to test?

[2019-07-02 13:20] michelchafouin commented on #177
Sorry for the late reply. I downloaded the new 2.6 version and tested with a new serie of pictures and wasn't able to reproduce the problem. I tried again with the same serie of images from my first post and the exposure was read correctly this time. So it's working as expected now, thanks for your help.

[2019-07-11 12:05] luzpaz opened #187 "Add Repology badge"
Repology shows what repositories a package is available in. For space purposes the small badge is appropriate here. Example:
[![Packaging status](https://repology.org/badge/tiny-repos/luminance-hdr.svg)](https://repology.org/project/luminance-hdr/badges)

But in other contexts, the full badge is more informative. Example:
[![Packaging status](https://repology.org/badge/vertical-allrepos/luminance-

[2019-07-11 13:33] fcomida commented on #187
@luzpaz Sure, I am interested, thank you.

[2019-07-11 23:19] #187 closed

[2019-07-12 14:21] fcomida commented on #182
Anyone knowledgeable about javascript?

[2019-07-13 08:45] Hombre57 commented on #182
@fcomida It depends on the knowledge level... What's the question ?

[2019-07-13 09:04] davideanastasia opened #190 "De-activate SourceForge Mailing Lists"
Hi Guys,
as a leftover of our old presence on SourceForge, we have 3 mailing list currently active there. I was wondering if you'd want to disable them, in order to keep all the content here on GitHub.

Cheers,
D.

[2019-07-13 19:01] fcomida commented on #190
It's fine with me. Is there a way to disable their bugtracker too?

[2019-07-13 21:52] davideanastasia commented on #190
I can try

D.

On Sat, 13 Jul 2019 at 20:01, Franco Comida <notifications@github.com>
wrote:

[2019-07-19 16:41] rlow0 opened #191 "align_image_stack crashes on OS X"
Creating a new HDR image fails when 'autoalign images' is selected with Hugin's align_image_stack. Throws the error: 'The external application "align_image_stack" crashed'. This is using version 2.6.0 on OS X (.dmg downloaded from sourceforge).

The problem seems to be that the library file for libImath is misnamed. Changing its name from 'libImath-2_3.24 2.dylib' to 'libImath-2_3.24.dylib' fixes

[2019-07-19 17:35] Benitoite commented on #191
Thanks for the report.  I may need to update a lib.

Sent from my iPhone

[2019-07-19 19:23] rlow0 opened #192 "luminance-hdr-cli aborts on OS X"
luminance-hdr-cli aborts immediately on running with the error:

    dyld: Library not loaded: /opt/local/lib/libHalf.24.dylib
    Referenced from: /Users/rlow/Desktop/tmp/Luminance HDR 2.6.0.app/Contents/MacOS/./luminance-hdr-cli
    Reason: image not found
    Abort trap: 6

Seems it's linked against various libraries in `/opt/local/lib/` (which don't exist on my machine), instead of the copies

[2019-07-19 19:33] Benitoite commented on #192
Thanks for the report.  I will have a look at the CLI.

Sent from my iPhone

[2019-07-20 14:03] Benitoite commented on #192
It seems `macdeployqt` did not run against the -cli (or whatever reason...) I will check on the build steps, and tie up macdeployqt with the -cli.

[2019-07-20 14:14] Benitoite commented on #191
@fcomida @heckflosse @clanmills
This PR renames the library.  No idea where the ` 2` came from... elbow typing?
https://github.com/LuminanceHDR/LuminanceHDR/pull/193

[2019-07-20 16:53] fcomida commented on #191
@Benitoite Thank you for your quick response. The best thing to do now is to create a new "2.6.0-1" dmg image replacing the broken one on sourceforge.

[2019-07-23 00:30] condoatlanta opened #194 "Luminance HDR Crash Linux Mint 19.1"
Was working with Luminance HDR, and attempted to activate the anti-ghosting. About 25% through the process, the entire computer crashed, and had to pull power and reboot. Happened once before with anti-ghosting, but I forgot and tried it again.
Linux Mint 19.1
MSI X399 motherboard
Ryzen Threadripper 1950X

[2019-08-02 05:23] mattebb opened #195 "Compiling on CentOS 7 (with workaround)"
Hi, I'm working in a visual effects studio and I've just tried building Luminance HDR on CentOS 7 (which is pretty much the standard linux distro for vfx).

I was able to get all the dependencies installed, and attempted to build the latest git master, but it failed in the ashikhmin tone mapping operator due to its usage of OpenCL [1]. CentOS 7 uses gcc 4.8.5 so it's probably missing a lot of new

[2019-08-02 09:22] heckflosse commented on #195
@mattebb
https://linuxhostsupport.com/blog/how-to-install-gcc-on-centos-7/

[2019-08-02 10:28] heckflosse commented on #195
@mattebb I will try to make a patch today

[2019-08-02 11:22] heckflosse commented on #195
@mattebb I pushed a fix. Can you please test if it builds now?

[2019-08-02 11:47] heckflosse opened #196 "possible bug?"
While fixing #195, I detected a possible bug in this function:
https://github.com/LuminanceHDR/LuminanceHDR/blob/master/src/TonemappingOperators/ashikhmin02/tmo_ashikhmin02.cpp#L136

Imho, the function should return the minimum and the maximum of all values of an array.
But then the initial minimum and maximum values are initialized with zero. Means if all values in the array are greater than zero

[2019-08-02 12:41] fcomida commented on #196
@heckflosse well spotted!
![ashikhmin_new](https://user-images.githubusercontent.com/11018726/62370772-4eb5af00-b533-11e9-9017-3bd3c9b111b2.png)
with fix

![ashikhmin_old](https://user-images.githubusercontent.com/11018726/62370776-4f4e4580-b533-11e9-99fe-14b9ed808c37.png)
old version

[2019-08-02 12:44] heckflosse commented on #196
@fcomida Shall I push or will you do?

[2019-08-02 12:48] fcomida commented on #196
@heckflosse It's already in my master branch. I'll push it now.

[2019-08-02 17:37] #196 closed

[2019-08-02 19:09] heckflosse commented on #194
@fcomida Franco, could that be related to this two issues found by cppcheck?

[code]
[code]

[2019-08-02 21:41] fcomida commented on #194
@heckflosse I don't think so. If he just activated auto ag, dx = dy = 0 anyway.
I can activate auto/manual ag in my computers (all running linux) with no crashes. The result is far from perfect in most cases but it doesn't crash.
I experimented with a different deghosting algorithm too and I think I can trace many difficulties in making deghosting work properly in issue #107.
No consinstent result

[2019-08-02 22:31] heckflosse commented on #194
Ok

[2019-08-02 22:36] heckflosse commented on #194
@fcomida Did you get my post on pixls.us concerning copy constuctors?

[2019-08-03 12:02] tkjtkj opened #197 "AVAST Anti-Virus ware says your 2.6.0 hdr.exe is infected with: IDP.GENERIC"
My AVAST anti-virus, upon installing your hdr.exe 2.6.0 into Win7 , says it's infected with the IDP.GENERIC  virus , so i moved your exe to a safe place, pending your confirming that AVAST is wrong ...

tkjtkj@gmail.com

[2019-08-03 15:31] fcomida commented on #197
@tkjtkj where did you get the installer from?

[2019-08-04 09:22] #195 closed

[2019-08-04 15:37] fcomida commented on #197
@gaaned92 Any idea?

[2019-08-04 15:43] fcomida opened #198 "Still shipping broken dmg images on Sourceforge"
A new build fixing #191 and #192 needs to be uploaded on SourceForge.

[2019-08-04 23:31] mattebb commented on #195
Thank you very much! I just tried it back at the office this morning and it worked perfectly.

I did have one other different compile error though with the latest git master:

/syd_home/mebb/Documents/code/LuminanceHDR/src/HdrCreation/robertson02.cpp: In member function ‘void libhdr::fusion::RobertsonOperatorAuto::computeResponse(libhdr::fusion::ResponseCurve&, libhdr::fusion::WeightFunction&, lib

[2019-08-05 01:24] fcomida commented on #195
@mattebb thank you, fixed in master.

[2019-08-05 04:43] mattebb commented on #195
Thanks very much!

[2019-08-07 19:49] gaaned92 commented on #197
There is nothing named hdr.exe in my builds! And they should not be detected as I have avast on my PC. I use to send to their lab the suspected files.
I don't have any idea what it is.
When I had AVAST installed on my PC, I used to send to their lab the suspected files.

[2019-08-07 19:53] gaaned92 commented on #185
@fcomida
do you intend to merge in master?

[2019-08-07 19:59] fcomida commented on #185
@heckflosse I have to figure out how to handle those fuji super ccd first.

[2019-08-07 20:04] heckflosse commented on #185
@fcomida I did not ask

[2019-08-07 20:05] fcomida commented on #197
@gaaned92 There are lots of sites where one can download all kind of software from (included LHDR). I guess @tkjtkj got it from one of those sites.
@tkjtkj Please download the official installer from SourceForge.

[2019-08-07 20:07] fcomida commented on #185
@heckflosse oooops @gaaned92 asked it

[2019-08-07 20:08] heckflosse commented on #185
@fcomida Is supporting the really old fuji super ccd worth the effort?

[2019-08-07 20:12] fcomida commented on #185
@fcomida A work around could be letiing one of LibRaw demosaicing algos to handle them.

[2019-08-08 03:23] #197 closed

[2019-08-08 11:42] LigH-de commented on #5
The Fujufilm FinePix EXR cameras with Super CCD EXR sensors have a similar feature. When (the camera in automatic modus, or) you select the DR (Dynamic Range) EXR mode, *and the motive being shot has a sufficient contrast*, then it may create a raw image with two distinct frames (here as RAF file). The two Bayer matrices with a half pixel diagonal shift are then read with different exposure.

Some

[2019-08-08 14:33] fcomida commented on #185
@heckflosse What is the plan for librtprocess? No problems with macOS and win. On Linux without an official release it would be impossible to make packages for the distros unless we add librtprocess as a submodule under lhdr source tree.
I can make an official rpm for Fedora.

[2019-08-08 15:13] heckflosse commented on #185
@fcomida I didn't have much time for librtprocess last weeks. But the plan is, to simplify the interface (make a pure C interface instead of the current C++ style interface).
Though this may take a while.
I vote for adding it as a submodule atm. or bundling it...

[2019-08-11 15:51] LigH-de commented on #5
I went out today and shot several photos with high dynamic range. Hope you can use a few to implement handling of 2 frame raw images.

[MediaFire: EXR-DR](http://www.mediafire.com/folder/7vf30kbsz87z1/EXR-DR)

There are even raw images with 3 frames, created by some Pentax cameras, according to https://github.com/jcelaya/hdrmerge/issues/137

[2019-08-12 12:12] fcomida commented on #185
@heckflosse I'm thinking of using "git subtree" for bundling librtprocess.
Your thoughts?

[2019-08-13 16:17] #24 closed

[2019-08-13 16:17] #45 closed

[2019-08-13 16:20] fcomida commented on #185
@heckflosse @gaaned92 @Benitoite I merged librtprocess-integration in master, added librtprocess code inside LHDR tree.
Changes are needed for building on Windows and macOS.

[2019-08-13 16:47] heckflosse commented on #185
@gaaned92 Shall I have a look at the Windows build?

[2019-08-13 18:56] fcomida commented on #185
@heckflosse Do you have a description of the various algos to put in the Preferences GUI?

[2019-08-13 20:33] fcomida commented on #185
@heckflosse Do you have a description of the various algos to put in the Preferences GUI?

[2019-08-14 11:11] heckflosse commented on #185
http://rawpedia.rawtherapee.com/Demosaicing#Demosaicing_Methods

[2019-08-14 11:32] fcomida commented on #185
@heckflosse thank you

[2019-08-14 19:04] fcomida commented on #185
@heckflosse @gaaned92 @Benitoite it does actually build with no changes on win and mac.
After cleaning up the UI I guess we can release it as 2.6.1

[2019-08-14 19:22] heckflosse commented on #185
@fcomida Just building master branch to test...

[2019-08-14 19:32] heckflosse commented on #185
@fcomida I just built master on Windows. Works fine and gives a good speedup on opening raw files :+1:

[2019-08-14 19:55] fcomida commented on #185
@heckflosse I've been able to cross-compile it on linux. Some of your algos have few options, shall we expose them to the user or just stick with the defaults?

[2019-08-14 19:57] heckflosse commented on #185
@fcomida For the moment I would stick with the defaults

[2019-08-16 09:21] fcomida commented on #185
@heckflosse I need some help on using HLRecovery_inpaint

[2019-08-16 17:06] CarVac commented on #185
What problems are you having?

Check out how it's used in Filmulator here: https://github.com/CarVac/filmulator-gui/blob/4e47672153fe59e4ef7de3aa49851ae4c3e79841/filmulator-gui/core/imagePipeline.cpp#L439

[2019-08-16 17:38] fcomida commented on #185
@heckflosse my problem is how to get chmax[3] and clmax[3]

[2019-08-16 17:41] heckflosse commented on #185
@fcomida You meant @CarVac  ?

[2019-08-16 17:46] fcomida commented on #185
@CarVac @heckflosse yeah of course :smile:

[2019-08-16 20:41] CarVac commented on #185
If you look in the Filmulator code I linked:

1. Apply WB.
2. `chmax` is the max of each channel after WB.
3. `clmax` is the max possible value of a clipped channel after WB.

[2019-08-20 03:41] fcomida commented on #185
Much, much better HDRs from RAWs

![hdr-old-1](https://user-images.githubusercontent.com/11018726/63315786-c8f47a80-c30c-11e9-95f6-e2ceaf9d0dfa.png)
OLD 1

![hdr-new-1](https://user-images.githubusercontent.com/11018726/63315798-ceea5b80-c30c-11e9-8e2e-584b173e62ea.png)
NEW 1

![hdr-old-2](https://user-images.githubusercontent.com/11018726/63315828-ee818400-c30c-11e9-9397-6c14b0d88e11.png)
OLD 2

[2019-08-20 04:40] CarVac commented on #185
To me that just looks like a change in gamma (new has much more contrast). Is that really because of librtprocess, or were there other changes too?

[2019-08-20 05:07] fcomida commented on #185
@CarVac you are right. It's now linear as it should have been from the beginning...

[2019-08-20 05:27] fcomida commented on #185
@CarVac I may say integrating librtprocess into lhdr gave the opportunity for a second look on how the creation of the HDR was done.

[2019-08-20 18:51] fcomida commented on #185
@heckflosse @CarVac So the way to go is working in a linear colorspace

![from-jpg-new-1](https://user-images.githubusercontent.com/11018726/63375400-fdf3e200-c38b-11e9-9af4-76369175c3dd.png)
NEW FROM JPEG 1

![from-jpg-old-1](https://user-images.githubusercontent.com/11018726/63375434-0cda9480-c38c-11e9-9439-0f5a9d8e3dd3.png)
OLD FROM JPEG 1

![from-jpg-new-2](https://user-images.githubuserconten

[2019-08-22 03:23] fcomida opened #200 "Windows 10 Signed Installer"
@gaaned92 From FB LHDR page:

[2019-08-22 06:44] Beep6581 commented on #185
@fcomida "NEW 1" and "NEW 2" looked clipped in the highlights, even in the tiny histogram...

[2019-08-22 10:10] ametzler opened #201 "missing copyright/license info for librtprocess/src/include/rt_math.h"
librtprocess/src/include/rt_math.h lacks information about copyright and license.

[2019-08-22 16:51] fcomida commented on #185
@Beep6581 I left out the normalization step...

[2019-08-22 18:01] Beep6581 commented on #185
@fcomida could you show a "new" image with the normalization step, using sample set 3?

[2019-08-22 19:15] fcomida commented on #185
@Beep6581

![hdr-new](https://user-images.githubusercontent.com/11018726/63542865-bacb7780-c521-11e9-9329-02cf5ba4fcc9.png)
NEW FROM JPEG 1

![from-jpg-old-1](https://user-images.githubusercontent.com/11018726/63542960-f403e780-c521-11e9-8b1a-37a1632ac645.png)
OLD FROM JPEG 1

[2019-08-22 19:23] fcomida commented on #185
@Beep6581 @heckflosse @CarVac What do you guys think? Robertson is better too for me.
Still issues with highlights or very dark pixels though.
![new-tm](https://user-images.githubusercontent.com/11018726/63543200-91f7b200-c522-11e9-8283-33a4ee15c3d4.png)
NEW TM

![old-tm](https://user-images.githubusercontent.com/11018726/63543240-a5a31880-c522-11e9-9c1a-65a686e5c86b.png)
OLD TM

[2019-08-22 20:17] CarVac commented on #185
Are you applying highlight recovery only to the very brightest image, or to the merged stack?

Does the sun exhibit the same artifact in the darkest exposure only?

[2019-08-23 06:39] Beep6581 commented on #185
Are we using good sample images? The samples above seem to have camera movement.

The images labelled "new" also seem to ebb towards a green cast.

I can take part in testing over the weekend - which branch has the "new" code?

[2019-08-23 07:27] fcomida commented on #185
@CarVac highlight recovery is only applied to RAW images (each image of the stack).
@Beep6581 Previously a gamma curve was applied to RAW files, I now changed it to linear. The code is in master.

[2019-08-23 09:20] fcomida commented on #185
@heckflosse @CarVac have you seen #199?

[2019-08-23 11:33] CarVac commented on #185
You should only apply highlight recovery to the darkest image(s), or else you'll be mixing guesses with real measured data.

[2019-08-23 12:12] fcomida commented on #185
@CarVac Thank you. I have to make few changes then, since rawreader doesn't know about "the darkest image" and we also need those camera multipliers from the raw files, don't we?

[2019-08-23 12:34] CarVac commented on #185
Yes, you need the white balance multipliers applied to actually benefit from highlight reconstruction.

The best way to do this would be applying white balance to the merged stack, and then doing highlight recovery.

[2019-08-23 15:59] heckflosse commented on #185
https://github.com/CarVac/librtprocess/commit/6f780ef0a63d1d94f7f3f3c38aa8598ed9b50198

[2019-08-23 16:36] fcomida commented on #185
@CarVac and I'd need a way to differentiate RAWs from JPEGs

[2019-08-23 17:02] Hombre57 commented on #185
@fcomida Can't you read the metadata ? Or did I misunderstood your question ?

Are you using librtprocess for reading/demozaicing files, or do you plan/agree to use it after the merge, e.g. by using the tone-mapping tool ?

[2019-08-23 17:05] CarVac commented on #185
I'm not sure the utility of supporting JPEGs at all for someone intent on maximizing their HDR quality...

[2019-08-23 18:21] fcomida commented on #185
@CarVac It's just that HL recovery should be now done outside the rawreader that doesn't know which image is the "darkest one" in the stack. Rawreader unpack the file, does some processing and now demosaicing via librtprocess and put the result frame in a data structure (vector of frames + other info). From there hdr fusion is done by debevec or robertson algos.
But now we have to apply HL recover

[2019-08-24 04:28] CarVac commented on #185
Once the HDR fusion is performed, all you need is:

`chmax`, the max of each channel after WB. This can be measured from the actual data.
`clmax`, the max possible value of each channel (the clipping point) after WB. This is metadata that needs to be passed along. I don't know whether Luminance HDR has this information at the end, but if I were to write an HDR program I would keep track of this so

[2019-08-24 05:55] fcomida commented on #185
@CarVac the data available as input to the hdr fusion stage is: r, g, b channels for each image of the stack, each channel is a WxH matrix of floats, then the EVs read from the Exif metadata of each image of the stack. Both RawReader and JpegReader output floating point data, JpegReader apply colorspace conversion if a profile is embedded in the input file via littlecms otherwise each pixel is jus

[2019-08-27 15:30] Taichi-Pink opened #202 "IOWorker: TiffReader: unsupport photometric type"
When I click "Open HDR Images" and open the .tif image, I met this problem. But I think LHDR should and could open the .tif format images. Can someone help me? Thanks !!!
![image](https://user-images.githubusercontent.com/30882053/63785319-64f22900-c8ad-11e9-9ce8-8aba901eab69.png)

[2019-08-27 15:53] fcomida commented on #202
@Taichi-Pink Why do you think LHDR could or should support your TIFF file? Can you tell us its actual PHOTOMETRIC TYPE? We support RGB, SEPARATED (CMYK) and LOGLUV types. If your TIFF differs please convert it to a type LHDR can handle.

[2019-08-29 17:40] Taichi-Pink commented on #202
When I opened images, I found LHDR support .tiff format, so I thought LHDR could open .tiff images.
![image](https://user-images.githubusercontent.com/30882053/63963117-8b50c980-ca51-11e9-967d-26907d7919df.png)
May I ask how to check the PHOTOMETRIC TYPE of tiff images?

[2019-08-29 18:10] fcomida commented on #202
@Taichi-Pink You can think of TIFF as a sort of container for any kind of data. So you can have bitonal (black and white) images (from fax/scanners) stored in a TIFF file or multiple images stored in the same file.
Which OS are you using? On Linux or macOS there's the "tiffinfo" utility (part of libtiff-tools). ImageMagick is a great suite for comverting/

[2019-08-30 00:51] Taichi-Pink commented on #202
Thank you!! My os is Ubuntu. And I use Matlab change rewrite my .tiff file, it works!!
The PHOTOMETRIC TYPE now is RGB, which I duplicated the original .tiff file to 3-channels.

Thanks again!

[2019-08-30 00:51] #202 closed

[2019-09-02 08:15] gaaned92 commented on #200
I suppose that the user ask for Windows10 codesigning. I am afraid that I am not going to do that for 2 main reasons:
- I am not at all a security geek and don't want to explore the arcane features of windows code signing.
- I am not ready to pay for a key or for HSM.

Nevertheless if somebody can provide a clear step by step procedure and can indicate where to get a free key, I can try to apply i

[2019-09-02 08:28] fcomida commented on #200
@gaaned92 As long as Windows 10 doesn't stop users to actually install LHDR ...who cares.

[2019-09-21 22:08] sorc17 opened #203 "Unable to create hdr image from wizard in 2.6.0"
Button "Compute" in hdr creation wizard do nothing just show hdr preview dialog. Button "Cancel" closes wizard. How to create hdr image? Where is "Finish" button? Do I miss something? Same example in 2.5.1 works great - I just press "Finish" button and hdr image created.

Linux localhost.localdomain 5.2.13-200.fc30.x86_64 #1 SMP Fri Sep 6 14:30:40 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

![Selecti

[2019-09-23 10:32] fcomida commented on #203
@sorc17 uncheck "Show HDR Preview" checkbox. I know, it's not very intuitive. It's been already changed in 'master', where you can now 'accept' the computed HDR from the preview window.

[2019-09-23 18:22] Beep6581 opened #204 "Camera response curve file extension should get appended by default"
`v.2.6.0-249-g`77752acd

When creating a HDR there is the option of calculating and saving the camera response curve. I only found on second glance that there is an "Automatically select filename extension" checkbox in that dialog. This checkbox should be checked by default.

[2019-09-23 19:06] Beep6581 opened #205 "HDR Creation Wizard - Save settings button unclear"
`v.2.6.0-249-g`77752acd

The HDR Creation Wizard has a Save Settings button, but what it does is a mystery. The button is huge, so there is space to clarify its use.

https://github.com/LuminanceHDR/LuminanceHDR/blob/master/src/HdrWizard/HdrWizard.ui#L730
https://github.com/LuminanceHDR/LuminanceHDR/blob/master/src/HdrWizard/HdrWizard.cpp#L1059

[2019-09-23 19:18] Beep6581 opened #206 "Append camera response curve file extension to combo entry"
`v.2.6.0-249-g`77752ac

The HDR Creation Wizard allows you to load camera response curves from a file. The "Load camera response curve from file" window has a filter combobox with an "Camera response curve" option, but standard practice is to include the expected file extension. As is, I had no idea what extension my camera response curve file should have (the by default no extension was appended

[2019-09-23 19:39] Beep6581 opened #207 "Segfault in HDR Creation Wizard when selecting Response Curve - Custom (From File)"
`v.2.6.0-249-g`77752acd

![screenshot_20190923_213804](https://user-images.githubusercontent.com/5844619/65456810-772e9b00-de4a-11e9-8240-9b03d5cb0dec.png)

In the HDR Creation Wizard, a reproducible crash occurs the moment I click "Custom (From File)"

[code]

[2019-09-23 19:43] Beep6581 commented on #207
The cause of the crash is that it seems to try and automatically load `/tmp/tiff16_input-cam_output-lin.m` which does not exist.

When I create an empty `/tmp/tiff16_input-cam_output-lin.m` and I click on "Custom (From File)" it shows "Invalid Response Curve File: please try a different file", but a window to let me select a file does not pop up, so I cannot try a different file.

![screenshot_201

[2019-09-25 15:21] fcomida commented on #207
@Beep6581 I"m gonna check all these issues. Thank you.
Another big one is that the response curve is saved according to the system locale, so for instance in the italian locale the dot '.' is replaced by a comma ','

[2019-09-25 15:49] Beep6581 commented on #207
The reason it tried to automatically load `/tmp/tiff16_input-cam_output-lin.m` could be that I clicked "Save settings" in a previous session without knowing what that button actually does, see #205

As for the camera response curve text file, it would be good to make it a proper CSV, with fields enclosed in parentheses and separated by commas or semicolons. Currently importing it into a spreadshee

[2019-09-26 10:31] Beep6581 opened #208 "--hdrCurveFilename ambiguous"
`v.2.6.0-249-g`77752acd

The CLI parameter `--hdrCurveFilename` is ambiguous - it does not contain the words "input" nor "output", making one assume it works for both input and output. That is not the case, it works only for input:
https://github.com/LuminanceHDR/LuminanceHDR/blob/master/src/MainCli/commandline.cpp#L587

Please rename it to `--hdrCurveInputFilename` (or `--inputCameraResponseCurve

[2019-09-26 13:39] fcomida commented on #208
@Beep6581 I'm gonna sort all this mess out as soon as possible. Thanks again.

[2019-09-27 16:52] pacorayban commented on #182
Hi there!
Is this normal that I can't validate my HDR after computing with one profile?
I can click compute, a preview pops up, but then? What should I do?

This may seem stupid but I'm stuck...

[2019-09-27 17:18] fcomida commented on #182
@pacorayban see #203

[2019-09-27 17:23] fcomida commented on #182
@Hombre57 geez I missed your reply...
Please have a look here: https://lgtm.com/projects/g/LuminanceHDR/LuminanceHDR/alerts/?mode=list&lang=javascript

Not big deal but still....

[2019-09-27 17:25] pacorayban commented on #182
@fcomida Thanks for the quick reply, not very intuitive indeed but it does the trick!
Thx for the great work!

[2019-10-03 16:58] fcomida commented on #206
@Beep6581would .csv be a better extension?

I changed read/write response curve code for always reading and saving using posix C locale.
The format is now one line header describing the data "log10(Ir),Ir,log10(Ig),Ig,log10(Ib),Ib" followed by six columns of floating point data "%15.9f" separated by commas.

[2019-10-03 17:40] Beep6581 commented on #206
@fcomida I would argue that any standard would be better than no standard, so yes, a proper CSV would be better.

[2019-10-03 18:29] fcomida commented on #206
@Beep6581 octave's csvread works as well, matlab should have the same function or a similar one.

Not sure about  QFileDialog not showing the extension or having the Automatically select filename extension" checkbox ...checked.

[2019-10-07 11:49] LigH-de commented on #5
The development of HDRMerge regarding support for raw files with multiple frames (what e.g. Fujifilm calls "Dual Capture Technology" for EXR Super CCD sensors, and Pentax can let their K-3 Pixel Shift sensor capture even three frames with different EV in a similar way) apparently develops well.

So I can soon use HDRMerge to calculate a HDR image, which can be saved as DNG.

Unfortunately, DNG is

[2019-10-09 13:24] hcw70 opened #209 "Cant read output image of HDRMerge"
LuminanceHDR 2.6.0 (Linux, Flatpak build) cant read the output of HDRMerge if the output is 24bit DNG.

It says "Error unpacking raw file".

Kind regards

Hauke

[2019-10-10 09:10] hcw70 commented on #209
Unfortunately that format is the only one exported via HDRMerge.
And i also like the concept to separate HDR stacking from tone mapping, so i wanted to do the first step with HDRMerge and the second one with LuminanceHDR (or in Darktable / Rawtherapee, they support that).

So i wrote this ticket in the hope that someone could integrate a similar approach for LuminanceHDR so i can use that tool (wh

[2019-10-10 16:26] hcw70 commented on #209
What about https://www.libraw.org/news/libraw-0-18-released ? It states DNG floating point support in the release notes....

[2019-10-10 16:42] fcomida commented on #209
@hcw Perfect!!! My wrong assumption was FP DNGs were supported via DNGSdk.
The other big problem is my lack of time to dedicate to LHDR.

[2019-10-11 09:53] Beep6581 commented on #5
@LigH-de for the time being: HDRMerge -> RawTherapee (save as [32-bit unclipped TIFF](http://rawpedia.rawtherapee.com/Unclipped)) -> Luminance HDR.

[2019-10-11 10:04] fcomida commented on #198
@Benitoite do you have a build that fixes #191 #192?

[2019-10-11 10:45] LigH-de commented on #5
Thank you for this suggestion. I will try it as soon as I can get a binary of HDRMerge with fixed JPG preview output (the created DNG files are incomplete with the last revision 64 I have).

[2019-10-11 13:46] Benitoite commented on #198
https://kd6kxr.keybase.pub/LuminanceHDR_2.6.0-Qt5.13.dmg
https://kd6kxr.keybase.pub/LuminanceHDR_2.6.0-Qt5.9.dmg

These two builds are the most recent I made. Currently rebuilding all my libraries so newer builds will be soon.

[2019-10-12 08:52] fcomida commented on #198
@Benitoite unfortunately it doesn't work. I just forwarded to you a mail from a user who cannot run the cli executable.

[2019-10-29 20:49] eddic opened #210 "Another highlights glitch"
I'm having one of those highlights artifact issues that seem to crop up every now and again. My version is 2.6.0 and the raw files can be downloaded at <https://files.isatec.ca/luminance-bug.zip>.

![1024](https://user-images.githubusercontent.com/58451/67807855-31717d80-fa5b-11e9-8346-afc47b482912.jpg)

Thanks for the great project!

[2019-12-28 19:10] sorc17 commented on #203
Thanks! Sorry I forgot to close issue earlier.

[2019-12-28 19:10] #203 closed

[2020-01-12 09:53] lambrosx77 opened #211 "No mainwin.jpeg in Introduction page of documentation"
mainwin.jpeg is missing in "The main window" section of Introduction page of the documentation.

Thank you for the good job.

[2020-01-29 12:11] berniskijump opened #212 "Memory leak in Batch HDR with anti-goasting on"
I have the luminance HDR version 2.5.1 with an Ubuntu 16.04 OS and a 4790k with 32 gigs of ram and 18 gigs of Swap. wanted to batch process some HDR Photo brackets with the Batch Processor. Due to the fact that my scene was moving a bit I put anti-ghosting on with  a value of about 0.934 because the image wasn't moving that fast. 9 HDR images(of 44) and 50 gigs of memory later my PC protected itse

[2020-02-25 11:55] LigH-de commented on #5
Now that DNG files are complete in test build 71 with included Qt 5 imageformat DLLs, I tested this workflow again a bit more elaborate. I discovered that I have to use the White Balance in Luminance HDR, or the results can be quite chaotic for some HDR functions (I noticed the "purple lights" in a few cases). But in general it works, so far...

[2020-03-04 10:40] aoloe opened #214 "State of Libre Graphics 2020"
The [Libre Graphics Meeting 2020](https://libregraphicsmeeting.org/2020/) is happening at the end of May in Rennes!

As usual, the first conference will be the State of Libre Graphics, where we will give an overview of what has happened during the last year in the world of Libre Graphics.

You're very welcome to submit two slides for your project. They will be presented by the moderator of the _St

[2020-04-01 07:59] FOULON49 opened #215 "luminance quitte de manière imprévue"
Bonjour
Je suis sur macbook air dernière génération(MacBook Air (Retina, 13-inch, 2019) Intel core I5 1,6 GHz, macOS Mojave 10.14.5.
J'ouvre 3 fichier de photo RAW, je choisis la méthode de traitement et quand je clique sur compute, l'application quitte...
Merci à vous
Michel Foulon

[2020-04-04 12:50] FOULON49 opened #216 "impossible de faire un HDR"
Bonjour,
Je charge 3 photos RAW : OK
je demande alignement automatique : cela ne fonctionne pas
Je clique sur "compute"     :   l'application quitte
Terminé. Je ne peux rien faire

Je suis sur macbook air rétine 13,3" version 2019 1,6 GHz intel core I5
Merci pour votre réponse

[2020-04-17 10:30] rasenmaeher92 commented on #62
I know this is an old issue, but were you able to figure out how to do this via the CLI?
What I would like to do, is to input a stack of N images and have Luminance HDR output a stack of N transformed and masked images, which exhibit no ghosting, when processed later on.
`luminance-hdr-cli.exe -t 0.1 image1.jpg image2.jpg image3.jpg` seems to process the input files, but it does not ouput the indi

[2020-04-21 23:06] markus-schuster commented on #101
Sorry I have to join in on this issue. I suffer from those artefacts in highlights ever since I use Luminance HDR. Then stumbled across this bug report and was full of hope. So I quickly fetched git HEAD (0d159a21 atm), compiled it and gave it a go.
But now it's broken in an even more strange way: Those highlights not only show artefacts, but the whole area that _should_ be white is actually yello

[2020-05-14 13:08] mrmatteastwood opened #217 "Error using custom filename in Batch (Showstopper)"
**Steps to Reproduce:**

1.  Launch Luminance HDR 2.6.0 (Flatpak build)
![error-batch-lumhdr](https://user-images.githubusercontent.com/22120259/81938140-d406dd80-95f4-11ea-8136-eae0385a2f42.png)

2.  Select Tools > Batch HDR
3.  Select 3 bracketed images, EXR format, profile 5, auto-align (Hugin) + crop
4.  Un-select (disable) "Use Proposed Filename Scheme"
5.  Set any filename prefix or leave "h

[2020-05-14 13:38] fcomida commented on #216
veuillez vérifier si align_image_stack est installé et dans $ PATH

[2020-05-15 13:59] edibici opened #218 "batch tone mapping fails to save files"
luminance hdr 2.6.0 on w10
the batch tone mapping fails to save files and gives and error
i tried several formats (tiff, jpeg, bmp) with same error

tried feeding the batch tone mapping with hdr files coming from batch hdr
also tried feeding the batch tone mapping with hdr files created interactively
same error in both cases

the interactive tone mapping works fine

the luminance hdr software is o

[2020-05-15 17:28] fcomida commented on #218
What is exactly the error message you are getting?

[2020-05-15 17:42] fcomida commented on #217
@mrmatteastwood   I've been able to complete batch hdr using flatpak build..,so I renamed all LHDR configuration files in my main computer for running LHDR clean and bang!
Closed LHDR, ran again ...it works!
I have to check out what's going on at 1st run.

[2020-05-16 13:19] FOULON49 commented on #216
Trop compliqué...
C’est comme si pour faire démarrer une voiture il fallait soulever le capot et vérifier l’allumage le carburateur puis reprogrammer la clé pour démarrer...
J’ai choisit un autre logiciel!

Envoyé de mon iPhone

[2020-05-16 14:36] edibici commented on #218
Hi Franco,

This is the log:

Using 4 thread(s)
Start processing...
[T0] Start processing
20200515_123902_P5151347-20200515_123903_P5151351-Weights= Triangular -
Response curve= Gamma - Model= Debevec.exr
[T0] Successfully load
20200515_123902_P5151347-20200515_123903_P5151351-Weights= Triangular -
Response curve= Gamma - Model= Debevec.exr
[T0] ERROR: Cannot save to file:
20200515_123902_P5151347

[2020-05-16 15:12] fcomida commented on #216
Je ne suis pas un Français bien élevé, malheureusement, vous méritez donc une bonne vaffanculo ... a la italienne.

[2020-05-16 16:58] FOULON49 commented on #216
Merci beaucoup

Envoyé de mon iPhone

[2020-05-17 09:59] mrmatteastwood commented on #217
Hey Francesco, thanks for checking! If you need any further input from me (e.g., is there a way to make logs? Perhaps they help), please do let me know.

[2020-05-18 16:06] fcomida commented on #217
@mrmatteastwood Is it now working? It seems it only happens when you run Batch HDR for the 1st time.

[2020-05-19 05:33] mrmatteastwood commented on #217
I just checked again on Flatpak build 2.6.0 and yes, you're right: it works when attempting to do the same thing twice in a row! I also didn't need to rename or reset any config files to achieve this. That's good to know. There hasn't been an update to the flatpak from your side in the meantime?

[2020-05-19 11:40] fcomida commented on #217
@mrmatteastwood it's not related to flatpak, it happens on a regular build too. I have to investigate this further.

[2020-05-25 04:27] jgan025 opened #219 "2.5.0 running on Pi4 inconsistent output file size"
Hi there,

I am running Luminance HDR 2.5.0 on a Pi4 (2GB) running Raspbian.
Using the command line or GUI interface, I can successfully create a decent HDR image using the Drago tonemapping operator.

I am having a weird issue however, that if use the exact same input images, and repeat the HDR image creation, the output HDR image file size and brightness vary slighlty with each repeat of the HDR

[2020-06-25 18:12] fcomida commented on #218
@edibici Do you have write permission to that folder?

[2020-07-05 12:33] Froleatric commented on #210
I have this problem, too. It seems to occur if the darkest image in the series has overexposed areas. Only shows up with Debevec, it works with Robertson.

[2020-07-12 12:28] rrostt commented on #198
What is the status on this? Can I help in any way?

[2020-07-28 14:59] Newbie1945 opened #220 "HDR image can not be saved"
I installed Luminance HDR 2.6.0   in Ubuntu 20.04  by pressing the blue install button at the website
https://www.flathub.org/apps/details/net.sourceforge.qtpfsgui.LuminanceHDR
I then tried Interactive HDR creation as explained on the website
https://luminancehdr.readthedocs.io/en/latest/creating_hdr/interactive/
I loaded five HDR-images I had made and then I pressed the next button, I came in the

[2020-07-28 15:41] fcomida commented on #220
Sorry that GUI is not intuitive at all. Please uncheck the "HDR preview"
checkbox for getting the final result.

Il mar 28 lug 2020, 16:59 Newbie1945 <notifications@github.com> ha scritto:

[2020-07-28 16:47] Newbie1945 commented on #220
Thanks fcomida, I now could save the HDR

[2020-07-28 16:47] #220 closed

[2020-07-28 16:59] Newbie1945 commented on #220
Thanks, problem solved
Marius

Franco Comida schreef op 2020-07-28 17:41:

[2020-08-10 04:20] akidee commented on #192
Some problem here. v2.6.0 on Mac OS 10.14.6

[2020-08-27 15:28] voltuz opened #221 "Batch HDR doesn't work"
when i try to use the batch hdr tool built in luminance hdr, i select all my images, i choose an output folder, set the number of exposure but when i click start this message always pops out: "the total number of images must be a multiple of the different exposures". i shoot at 7 brackets total per image. even changing tht exposure number to anything isn't doing anything

[2020-09-11 14:54] tokejepsen commented on #221
Getting the same issue with 2.6.0 [Build 50b31d]

[2020-09-12 11:07] tokejepsen commented on #221
Quick and dirty script for anyone needing to batch process; https://gist.github.com/tokejepsen/91d9ecdd511dc21c6404a6a5b99f0dfd

[2020-09-18 18:45] ericd3 opened #222 "CLI "Failed executing align_image_stack""
The -a AIS method for aligning images with the command line fails with an error, and -a MTB does not appear to actually align the images.  The images in question are processed correctly without errors by the GUI version of LuminanceHDR.

Window capture attached.

![luminance-hdr-cli_AIS_error](https://user-images.githubusercontent.com/68313303/93633759-7842cb80-f9bd-11ea-9c4c-360dd5620974.jpg)

[2020-09-26 10:36] fcomida opened #223 "2.6.0-bugfixes -> 2.6.1"
I create a new branch from tag v.2.6.0 to incorporate the fixes for #204 #205 #206 #207 #208 #211 #217 #218 #221 and eventually release it as 2.6.1

[2020-09-26 12:31] bjohanns2002 opened #224 "calculated HDR image changes upon save (looses brightness)"
Hello Luminance HDR team,
either I am doing something wrong, or this is a bug:

I load a series of (prealigned) exposures into Luminance HDR and generate a HDR image which looks as expected.
![Luminance_HDRError01](https://user-images.githubusercontent.com/1197597/94340558-17da0c80-0003-11eb-9a72-032cde80d9cf.png)

This result is comparable to Hugins auto align image stack result (but I want to us

[2020-09-27 14:40] fcomida commented on #223
@heckflosse @Beep6581 @Benitoite @LuminanceHDR/collaborators

Hello guys, please test 2.6.0-bugfixes branch, it will become v.2.6.1

[2020-09-27 15:19] fcomida commented on #222
@ericd3 You must download and install the "Visual C++ Redistributable for Visual Studio 2015" from Microsoft website

[2020-09-27 16:13] fcomida commented on #222
@gaaned92 can we optionally bundle "Visual C++ Redistributable for Visual Studio 2015" in the Windows installer?

[2020-09-27 17:21] heckflosse commented on #222
@fcomida Does this also happen when building using msys2?

[2020-09-27 17:40] fcomida commented on #222
@heckflosse It's not a LHDR issue, it happens that align_image_stack.exe from Hugin, bundled with LHDR Windos installer, needs vcomp140.dll from the "Visual C++ Redistributable for Visual Studio 2015"

[2020-09-27 18:26] heckflosse commented on #223
@fcomida I just compiled it on Windows gcc 10.2.0. Compiled fine and also starts. Will now make some more tests for the issues you mentioned above.

[2020-09-27 18:29] fcomida commented on #223
@heckflosse Thank you, please also test the cli in Windows, alignment and reading writing response curve.

[2020-09-28 19:57] fcomida commented on #210
@eddic  @Froleatric Indeed removing oversaturated pixels from the darkest image fix this issue
![debevec_bug](https://user-images.githubusercontent.com/11018726/94479486-2841e100-01d5-11eb-838f-b0038b15cf36.png)

![0007a-0007f_pregamma_1_mantiuk08_auto_luminance_color_saturation_1 38_contrast_enhancement_1_postsaturation_1_postgamma_1](https://user-images.githubusercontent.com/11018726/94479707-7b

[2020-09-29 09:45] fcomida commented on #210
![debevec_bad](https://user-images.githubusercontent.com/11018726/94542277-e488bf00-0248-11eb-9053-6773ea47be64.png)
OLD
![debevec_good](https://user-images.githubusercontent.com/11018726/94542283-e6528280-0248-11eb-992f-8f0d6880eabf.png)
NEW
![debevec_bad_2](https://user-images.githubusercontent.com/11018726/94542279-e5b9ec00-0248-11eb-9864-3198b7352d0a.png)
OLD
![debevec_good_2](https://user-ima

[2020-10-01 19:12] fcomida commented on #223
@heckflosse can you generate new translations with -DUPDATE_TRANSLATIONS=ON ?
I'm stuck at [ 86%] Generating ../i18n/source.ts
no progress at all.

[2020-10-03 21:53] fcomida commented on #219
@jgan025 I'm not aware of any compatability issues with the Pi4. I'm puzzled by your statement: "the file sizes are not consistent". The HDR generated by LHDR has the same size of all input images. Also "brightness" has no meaning for an HDR image since a computer screen cannot reproduce the entire range of light intensity. Are you referring to tone mapping?
In this case you can chose the final im

[2020-10-04 10:50] heckflosse commented on #219
Using floating point math with multiple threads will have variability because for example floating point addition is not associative.

Simple example:

Assume you want to sum up 1000 values.
If you do this with one core, the result will be slightly different to the result from 2 cores where each core sums up 500 values and at the end the results of the 2 cores are summed up

[2020-10-04 17:15] fcomida commented on #219
@heckflosse sure, the difference (error) should be very small tho, in the order of the machine precision.

[2020-10-04 17:30] heckflosse commented on #219
The difference can become very large. Try to accumulate 40000000 values of 1.f using one thread and using 4 threads into a single precision float. With one thread you will get ~16777215 as result, while using 4 threads you'll get more likely the correct 40000000 as result.

[2020-10-04 17:39] heckflosse commented on #219
In RT we had in some cases results which were off by more then 10% when using single precision float accumulators. For large accumulations we now always use double precision accumulators.

Perhaps we should scan the lhdr code for this cases...

[2020-10-04 17:44] fcomida commented on #219
@heckflosse I was saying in the context of LHDR algorithms those fp errors should stay small when running with different thread numbers/cores (you fixed those accumulation errors using double precision FP in the code).
I think I misunderstood "file size" with number of pixels (WxH) in my previous comment.

[2020-10-04 18:00] heckflosse commented on #219
I know, but did I catch them all?

[2020-10-04 20:29] jgan025 commented on #219
Hi there,

Apologies if I wasn't quite specific. Yes I meant the file size (bytes) and not the actual pixel count (WxH). The file size (byte count) varied slighly with each repeat of the HDR process. By brightness, I was referring to the tonemapped output images "appearing to be different" when placed next to each other on the same screen. One definately seemed "brighter" - or at least different,

[2020-10-04 21:13] heckflosse commented on #219
It's not a matter of OS or hardware. When accumulating large amounts of float values you run into inaccurate results, if you don't take care.
There are some solutions for this. One is this one
https://en.wikipedia.org/wiki/Kahan_summation_algorithm
But usually when the input is single precision float, it's sufficient to use a double precision accumulator. Another way to improve accuracy is to use

[2020-10-26 20:25] terjebyte opened #225 "Need Assistance Running Batch HDR from Console"
Im a newbie,  need guidance.  Im running Luminance 2.6.0 on Ubuntu

What is the correct way to use the Luminance HDR Cli
I type the following
luminance-hdr-cli INPUTFILES --hdrCurveFilename curve filename=/home/terje/pictures/V1

but receive error
oadFile: Cannot load filename=/home/tjames007/Pictures/V1: Cannot find the correct handler for filename=/home/terje/Pictures/V1"

How do I tell the lumi

[2020-11-18 12:25] Beep6581 commented on #225
@terjebyte

[code]

[2020-11-18 12:45] Beep6581 commented on #204
Fix confirmed in commit f7edae38

[2020-11-18 12:45] #204 closed

[2020-11-18 12:50] Beep6581 opened #226 "Camera response curve extension not shown"
Tested in f7edae38

In the HDR Creation Wizard, at step 2/2 where you choose settings for HDR creation, you can set the response curve to "Custom (From File)". There is a button "Load Response".

1. The button's label should be "Load Curve" or "Load File", not "Load Response".
2. In the filechooser window, the filter reads "Camera response curve". It does not tell me what file extensions are being

[2020-11-18 12:56] Beep6581 commented on #205
Tested in f7edae38

1. The "Save HDR creation Settings into database to use with Batch HDR" button becomes active when I tick "Use Custom Configuration". When I click the button, it goes gray. It did not ask me for a name for the settings or give any feedback that the save was successful. I assume the settings were saved correctly. Indeed, the Batch HDR window shows "Custom config 1".
2. If I chan

[2020-11-18 12:57] Beep6581 commented on #226
Duplicate of #206

[2020-11-18 12:57] #226 closed

[2020-11-18 12:57] Beep6581 commented on #206
I still do not see the extension in f7edae38, see issue #226.

[2020-11-18 13:00] Beep6581 commented on #207
Fix confirmed in f7edae38.

First I create a HDR, save the response curve, then I create a new HDR and set the response curve to custom and load the saved curve. Now I delete the curve file from disk, close the HDR, and create a new one. Now when I click "custom" instead of crashing it shows the filechooser window. Good.

[2020-11-18 13:00] #207 closed

[2020-11-18 13:01] Beep6581 commented on #208
Fix confirmed in f7edae38.

[2020-11-18 13:01] #208 closed

[2020-11-18 13:03] Beep6581 commented on #223
Hi @fcomida

Branch `2.6.0-bugfixes` compiled fine in Sabayon Linux using GCC-8.2.0:
[code]

A simple CLI test ran correctly:
[code]

I went through and commented in the individual issues.

[2020-12-05 18:25] verbal007 opened #227 "How to create "Tone Mapping Settings" & Where are they stored?"
I'm using LuminanceHDR via the Manjaro Linux repos.

I love the idea of being able to **batch** tone map a series of HDR images, as I would like to perform some photogrammetry experiments, and to have to create them one by one would be painful.

However, the docs do not appear to contain the answer on how to perform this task.
https://luminancehdr.readthedocs.io/en/latest/tone_mapping/batch/

Spec

[2020-12-16 05:44] timegate opened #228 "Would you recommend me a way to do batch hdr conversion?"
Would you recommend me a way to do batch hdr conversion(like all tiff images to all exr images)?
I feel like I can change some codes to make it but I don't know what I should do right now..

[2020-12-18 06:40] #228 closed

[2021-01-02 10:31] fcomida commented on #227
@verbal007 load an image in LHDR, choose your tonemapping setting then in thel main tonemapping panrl on the left you can choose either to save yours tm setting in a text file or in the internal database. In Batch tonemapping you can load that file or choose your setting from the db

[2021-01-03 00:17] verbal007 commented on #227
I will give this a try.  Thank you @fcomida !

[2021-01-03 17:26] thepurpleblob opened #229 "v2.6.0 stuck on page 2/2 of new HDR wizard"
The wizard doesn't seem to work... After I load the images and click 'Next', this screen appears....

<img width="792" alt="Screenshot 2021-01-03 at 17 22 09" src="https://user-images.githubusercontent.com/664139/103484682-a9b69a00-4de8-11eb-9b79-1dffd760407b.png">

Clicking 'Compute' just shows a preview. Clicking Logs does nothing and Cancel drops out of the screen. Nothing else happens.

[2021-01-04 13:02] fcomida commented on #229
@thepurpleblob  please uncheck Show HDR Preview

[2021-01-04 13:39] thepurpleblob commented on #229
Ok - thanks. That works.

Strange UI choice. The preview option makes 'Finish' vanish? I can't understand why and the default option leaves you completely stuck. Still feels like a bug.

[2021-01-04 15:12] fcomida commented on #229
@thepurpleblob already changed in the next version

[2021-01-05 10:57] fcomida commented on #223
I'd be ready to release 2.6.1

[2021-01-06 15:50] fcomida commented on #223
@Benitoite @Beep6581 @heckflosse @clanmills I uploaded the sources tarball to sourceforge

[2021-01-06 16:32] heckflosse commented on #223
@fcomida Franco, I didn't build lhdr for a while. Should I give it a test on Windows/msys2?

[2021-01-06 16:36] fcomida commented on #223
@heckflosse Ingo, if you have time it'd be great.

[2021-01-06 16:50] verbal007 commented on #227
@fcomida , I'm looking at the main panel and unfortunately am not able to see any options to save my Tonemapping settings (see screenshot)
![lhdr_tonemappingSettingsSave](https://user-images.githubusercontent.com/5015124/103796366-f4f4c680-4ffb-11eb-89b4-e902bb84c6d3.jpg)
I've also checked the dropdown menus and haven't found anything.
Am I looking at the correct menu?

Luminance HDR 2.6.0
on Manj

[2021-01-06 17:23] heckflosse commented on #223
@fcomida building now...

[2021-01-06 17:48] fcomida commented on #227
@verbal007  click on "Settings" just above "Update preview" button

[2021-01-06 18:32] verbal007 commented on #227
@fcomida Ah! Found it. And it works.
Tricky little hidden panel switch (and tool tips that are apparently not working with my theme)
![hiddenPanel_2021-01-06](https://user-images.githubusercontent.com/5015124/103806723-4dcb5b80-500a-11eb-8700-8bb58c16b5b0.gif)

Thank your help!

[2021-01-06 18:32] #227 closed

[2021-01-06 19:00] heckflosse commented on #223
@fcomida Windows/msys2 build works fine

[2021-01-06 19:14] fcomida commented on #223
@heckflosse Thank you very much

[2021-01-07 06:59] fcomida opened #230 "Version 2.6.1 released"
I've uploaded 2.6.1 version to SourceForce as usual. I need help for building Windows installer and macOS dmg

[2021-01-08 09:18] fcomida commented on #230
@heckflosse what are the instructions for creating an InnoSetup installer?

[2021-01-08 11:43] heckflosse commented on #230
@fcomida I never made an installer. gaaned92 at pixls.us made RT installers. Maybe ask him

[2021-01-08 12:22] fcomida commented on #230
@heckflosse Thank you anyway, I'll try to contact gaaned92

[2021-01-08 17:33] Benitoite commented on #230
@fcomida Working on a macos build now.

[2021-01-08 17:39] fcomida commented on #230
thank you very much

On Fri, 8 Jan 2021 at 18:33, Benitoite <notifications@github.com> wrote:

[2021-01-09 10:20] Benitoite commented on #230
My clang didn't like the `d` suffix on the double ought.

[code]

[2021-01-11 07:18] fcomida commented on #230
@Benitoite I don't know if is better you make the package with your local
patch or release new sources with your patch applied

On Sat, 9 Jan 2021 at 11:20, Benitoite <notifications@github.com> wrote:

[2021-01-11 11:31] fcomida commented on #230
@Beep6581 @Benitoite @heckflosse Hi guy i made a 2.6.1.1 release fixing those minor issues (tag v.2.6.1.1)

[2021-01-12 10:08] osamarashid-lm opened #231 "Pre-gamma, Post-gamma and Post-saturation"
Hello everyone,

I am trying to reproduce the Fattal's operator in MATLAB but my results are not satisfactory. I decided to debug my implementation based on the implementation in the LuminanceHDR (which produces very good results). What I noticed in LuminanceHDR is that there are 3 settings namely: pre-gamma, post-gamma and post-saturation. I was hoping that you guys could briefly explain how each

[2021-03-18 13:51] elientumba2019 opened #232 "Camera Simulation."
Hello.
Thanks for this useful tool.
My question is the following, is it possible to simulate a camera using your software?
For example, If I have an hdr image and camera response curves. Is it possible to use this software to obtain bracketed LDR images by changing the amount of exposure?  (It is like doing the inverse of hdr creation from bracketed LDR images.)

Thanks

[2021-03-18 18:03] Benitoite commented on #232
Did you encounter any errors during the process?

[2021-04-01 09:06] houxiang opened #234 "How can I develop a hdr tone mapping software for hdr video"
Hi,there:
I'm looking for a way to develop a tone mapping tool which can accept HDR video plus corresponding dynamic metadata  and output new HDR video.   and need to develop  GUI to change tone map curve parameters and generate the new HDR video.
The new HDR video format is similar to HDR10+ .

Can LuminanceHDR be used as staring point?
Thank you for giving tips for me!
BR,
Houxiang

[2021-04-08 16:46] musicinmybrain opened #239 "Missing copyright statements and Boost license text for files forked from SLEEF"
**Short description**

The following files are taken (and modified) from [SLEEF](https://sleef.org/), but they are missing the required copyright and license statements. Additionally, the Boost license requires its text to be distributed with the source.

- `src/sleef.c`
- `src/sleefsseavx.c`
- `src/helpersse2.h`
- `librtprocess/src/include/sleef.c`
- `librtprocess/src/include/sleefsseavx.c`
- `li

[2021-04-08 20:01] musicinmybrain opened #240 "Enable building with external librtprocess?"
I see that `CMakeLists.txt` has:

[code]

It seems to work, when uncommented, in combination with https://github.com/LuminanceHDR/LuminanceHDR/pull/238 (except the library to be linked needs to be called `rtprocess` instead of `librtprocess` as in the bundled case).

Is there a plan to enable external `librtprocess` support via a CMake option, or by detecting whether it is available in the build e

[2021-04-08 20:05] musicinmybrain opened #241 "External pfstools libraries?"
Is there a path to supporting linking LuminanceHDR againstexternal/system copies of the libraries from pfstools, such as pfstmo, or are the copies bundled with LuminanceHDR too heavily forked?

[2021-04-09 12:31] musicinmybrain commented on #154
The following combination of PRs fixed the linking problems for me:

https://github.com/LuminanceHDR/LuminanceHDR/pull/236
https://github.com/LuminanceHDR/LuminanceHDR/pull/237
https://github.com/LuminanceHDR/LuminanceHDR/pull/238

However, I still have some failures:

[code]

[code]

[code]

[2021-04-09 19:46] musicinmybrain opened #242 "Interest in man pages?"
As the new maintainer of the `luminance-hdr` package in Fedora Linux, I wrote man pages based on the `README.md` and the output of `luminance-hdr-cli --help`. I have [attached them to this issue](https://github.com/LuminanceHDR/LuminanceHDR/files/6288118/LuminanceHDR-man-pages.zip).

Now that they exist, is there any interest in supplying these man pages upstream?

[2021-04-27 14:46] GOvEy1nw opened #243 "Utilise 'auto levels' in batch tone mapping?"
Is there any way for batch tone mapping to utilise the 'auto levels' setting too?

[2021-05-01 18:24] bash0 commented on #210
This issue is solved in commit #09bed861e7b8992a49feecd9995c01d6c5152140.

[2021-06-06 12:36] musicinmybrain opened #244 "Support OpenEXR 3.x"
OpenEXR 3.x is out, and users will need upstream support for building with it. The following link describes the essential cahnges: https://github.com/AcademySoftwareFoundation/Imath/blob/master/docs/PortingGuide2-3.md.

Details on my unsuccessful efforts to build against OpenEXR 3.x as the maintainer of the `luminance-hdr` package in Fedora Linux are available at https://bugzilla.redhat.com/show_b

[2021-06-17 18:03] zivian opened #245 "[clarify] info about source on github on sourceforge"
https://sourceforge.net/p/qtpfsgui/code/ states the source is moved here.

did you completly or partially using github for development? please update both sourceforge and github repos.

[2021-06-28 02:40] charlesgerbra opened #246 "how to load canon cr3 files"
When attempting to create new HDR image, I click + to load images and navigate to a directory containing CR3 and JPG files. The HDR creation wizard lists only the JPG files, not the CR3 files. I have selected "All formats". If I select "RAW", then it lists no files.

I have version 2.6.1.1, linux/fedora34, libraw 0.20.2. Luminance-hdr includes canon eos r in its list of supported cameras. Other so

[2021-07-07 20:51] musicinmybrain commented on #244
For now, Fedora is introducing a compatibility package for OpenEXR 2.x. In the medium to long term, I’ll have to retire the Fedora package if active upstream development does not resume.

[2021-07-09 13:36] musicinmybrain opened #247 "License incompatibility"
The following files are licensed under GPLv2 only (no “or later version”):

- `src/HelpBrowser/schelptreemodel.cpp`
- `src/HelpBrowser/schelptreemodel.h`
- `src/HelpBrowser/treeitem.cpp`
- `src/HelpBrowser/treeitem.h`
- `src/HelpBrowser/treemodel.cpp`
- `src/HelpBrowser/treemodel.h`

but the following files are licensed under GPLv3+:

- `src/StopWatch.h`
- `src/gauss.h`
- `src/mytime.h`
- `src/non

[2021-10-06 02:04] ShinYwings opened #248 "Histogram mismatching problem"
Hello there

I'm Ings Shin

When I opened .EXR file(32bit floating-point), the histogram in the LuminanceHDR miss some data between -2 ~ -1

I thought It might be some quantization error because I have brought some HDR image (HLG signal btw) from camera & capture board and decoded it by myself.

But the missed data is revealed in the histogram that I have made in a manner of how LuminanceHDR did.

[2021-10-08 10:43] Minkiu opened #249 "LibRaw build dependency on CentOS 7"
Hey there!

I am attempting to build LuminanceHDR in a CentOS 7 container (using docker), I modified the minimum `cmake` version required cause centos version doesn't go as high, but I want to believe this error is unrelated?

I believe I got most of the dependencies now, but it still complains about `LibRaw` not being there:
[code]

I installed all of those just to be on the safe and I still get:

[2021-11-13 23:35] kkofler commented on #247
The license of the Qt examples has since been changed from GPL v2 only to a permissive BSD license. Scribus updated the license header of their `schelptreemodel.cpp` back in 2012: https://github.com/scribusproject/scribus/commit/84c50b2318b8a919bd2304f3c7aa02fb6a4f3f2a

[2021-11-14 00:28] musicinmybrain commented on #247
Hmm, interesting!

I’ll see if I can work up a PR to substitute newer, BSD-licensed versions of these files. It would be nice to stop patching out the help browser in Fedora Linux, and a PR might be helpful to others (especially, other distribution package maintainers) even though upstream has been inactive recently.

[2021-12-06 07:06] audioscavenger commented on #223
thank you all for the hard work and all
it's been 1 year since someone decided to fix bugs in 2.6.1
where is this version please?
is this project still maintained?

[2021-12-06 07:08] audioscavenger commented on #216
well said. you work hard on something and yes it's not so easy, yet, but again great response

[2022-02-07 17:03] rotoglup commented on #243
From my understanding of the [TonemappingOptions source code](https://github.com/LuminanceHDR/LuminanceHDR/blob/0d159a216940abe106bb03ae9ba525043d66e793/src/Core/TonemappingOptions.cpp), it seems that there is currently no control on "auto levels" in the text files describing the options.

`luminance-hdr-cli` seems to have support for "auto levels" though, using the following option : ` -b [ --aut

[2022-02-07 17:22] rotoglup commented on #225
FWIW, here's another example, which seems to work for me to apply `mai` operator with autolevels to an EXR image

[code]

[2022-02-16 15:07] a17r commented on #244
ping. this is soon going to make it impossible to continue packaging it in Gentoo.

[2022-02-27 05:42] aentwist commented on #246
I found the same thing. I take it that CR3 files are not supported? Which would make this a feature request.

[2022-02-27 18:07] aentwist commented on #246
I had a look last night and it seems like [LibRaw supports this](https://www.libraw.org/supported-cameras) easily (via my case, Canon EOS M50), so it is either a matter of enabling it or wiring it. It looks like using raw format simply creates intermediate TIFF images for you [[1](https://luminancehdr.readthedocs.io/en/latest/getting_started/introduction/#summary-of-features)], so exporting to 16-

[2022-02-27 18:22] clanmills commented on #246
Last year, I added support for CR3 (and other bmff files including .HEIC) to Exiv2 and Roman added support to LibRaw.  This effort was made on the request of **darktable**.

I believe LuminanceHDR can take advantage of those efforts.  If you have the build skills you may be able to tackle this on your own.  If you don't have the build skills, you may wish to start a discussion on the forum at disc

[2022-03-09 14:47] dacorsa opened #251 "compile in ubuntu"
hi guys can you hel me?

15:34:26 root@NanoKDE /app/LuminanceHDR/build master# cmake     -DCMAKE_BUILD_TYPE="Release"      -DCMAKE_INSTALL_PREFIX="/usr/local/bin"     ..
-- CMAKE_BUILD_TYPE: Release
-- Adding definitions: -DQT_NO_DEBUG_OUTPUT
-- C++11 activated for GCC 11

-- GCC >= 4.3
-- Found OpenMP_CXX: -fopenmp (found version "4.5")
-- Found OpenMP: TRUE (found version "4.5")
-- Building with

[2022-04-26 03:48] #248 closed

[2022-05-05 12:58] musicinmybrain opened #252 "In 2.6.1.1, wrong include in src/Common/init_fftw.h"
In the latest release `v.2.6.1.1`, and in the head of the `2.6.1.1` branch, `src/Common/init_fftw.h` has been switched from `boost::mutex` to `std::mutex` in https://github.com/LuminanceHDR/LuminanceHDR/commit/bce7ca28700e69cc2acaad0d02623113c09b8b39, but without correcting the include from `<boost/thread/mutex.hpp>` to `<mutex>`.

https://github.com/LuminanceHDR/LuminanceHDR/blob/636285aeb749b983

[2022-05-23 02:58] ChrisCarini commented on #191
For those coming here with this issue, you may find luck in running the below command locally to fix the issue:
[code]

[2022-07-15 15:25] irthomasthomas opened #254 "Crash opening HDR file"
Ubuntu 20.
From the terminal:

libpng warning: iCCP: known incorrect sRGB profile
TiffReader: No color profile
void pfs::io::TiffReaderData::readRGB(pfs::Frame&, const pfs::io::TiffReaderParams&) [with InputDataType = float]f
TiffReader: No available input profile
CleanUpCmsProfile::cleanup()
CleanUpTiffFile::cleanup()
CleanUpCmsProfile::cleanup()
CleanUpCmsProfile::cleanup()
Min Luminance:  1e-06

[2022-07-25 16:03] optyler commented on #192
Issue still relevant

Luminance : v2.6.0
OsX : 12.1

[2022-07-28 08:19] optyler commented on #192
Great! :D
For those who have the same issue, This build is working on Mac os Monterey 10.14.6 ;-)

[2022-07-30 12:20] niallomahony93 opened #255 "How to install on Ubuntu 22.04"

[2022-08-14 02:23] ChrisCarini opened #256 "Incorrect path for hdrhtml csv when using CLI flag `--createwebpage`"
I get the below error message when using the CLI bundled with `2.6.1` (downloaded from https://github.com/LuminanceHDR/LuminanceHDR/issues/192#issuecomment-1194372488)

[code]

Removing the `--createwebpage` makes the problem go away (and, of course, does not generate any HTML pages then).

[2022-08-14 02:25] ChrisCarini commented on #192
@Benitoite - any chance this new version could be mentioned on the main http://qtpfsgui.sourceforge.net/ page? Or perhaps uploaded as a GitHub release for `2.6.1` -> https://github.com/LuminanceHDR/LuminanceHDR/releases ? :)

Additionally, I just installed this on macOS Monterey (version 12.5), and got the below error:
[code]

### Resolution (for me)
**To resolve the above error**, I ran the below

[2022-08-15 20:02] MisterGuy2013 opened #257 "HdrCreationManager::loadFilesDone(): Error loading a file"
This error was showing up after I used Hugin to switch together a multiple panoramas that I planned to turn into a HDR panorama masterpiece with Luminance. This error showed up using version 2.6 in mac os x 10.15, mac os x 10.11 and windows 10. It also showed up in version 2.2 in windows 10.(Note I was using a vm for windows 10) I didn't test any other versions.

The solution:
When looking at the

[2022-08-15 20:03] MisterGuy2013 commented on #257
The solution:
When looking at the image data I noticed that the Alpha channel was turned on(This basically means that the image could have transparent parts), I turned this channel off and the problem went away. This channel was on because I exported from hugin as a png and converted to jpg.

[2022-08-15 20:03] #257 closed

[2022-08-20 16:08] ametzler commented on #244
Attached patch works for me:

- Update FindOpenEXR.cmake from blender
 https://developer.blender.org/diffusion/B/browse/master/build_files/cmake/Modules/FindOpenEXR.cmake
- Use OPENEXR_INCLUDE_DIRS instead of OPENEXR_INCLUDE_DIR.

[70_OpenEXR3.diff.gz](https://github.com/LuminanceHDR/LuminanceHDR/files/9387644/70_OpenEXR3.diff.gz)

[2022-08-25 06:34] Morishiri commented on #191
That works! Thank you!

[2022-08-25 09:05] ChrisCarini commented on #191
@Morishiri - no problem! I also found version `2.6.1` in https://github.com/LuminanceHDR/LuminanceHDR/issues/192#issuecomment-1194372488 which had this issue resolved already I believe.

[2022-09-03 09:01] ExpPhysU opened #259 "LHDR 2.6.0 [Build 50b31d] on Windows 11: Does not oben EXR files"
When opening an EXR file on

Windows 11 Enterprise 21H2
Build 22000.918 with
Windows Feature Experience Pack 1000.22000.918.0

Luminance HDR 2.6.0 Build 50b31d fails with

IOworker: Datei konnte nicht geladen werden: C:/Daten/tempdoc/über_8744_5.exr
[über_8744_5.zip](https://github.com/LuminanceHDR/LuminanceHDR/files/9482272/uber_8744_5.zip)

Translation: "File could not be loaded"

It works with

[2022-10-05 12:48] 243750496 opened #260 "error: ‘size_t’ has not been declared(Both checkinstall and sudo make install --job 4) with ubuntu 22.04"
`cc@HUAWEINEW:~/programs$ git clone https://github.com/LuminanceHDR/LuminanceHDR.git code-lhdr
Cloning into 'code-lhdr'...
^C
cc@HUAWEINEW:~/programs$ git clone https://github.com/LuminanceHDR/LuminanceHDR.git code-lhdr
Cloning into 'code-lhdr'...
^C
cc@HUAWEINEW:~/programs$ git clone https://github.com/LuminanceHDR/LuminanceHDR.git code-lhdr
Cloning into 'code-lhdr'...
^C
cc@HUAWEINEW:~/programs$

[2022-10-10 20:49] sapolio opened #261 "Can't find any prebuilt binaries for mac os"
Hi!
Since I've met some troubles* trying to use the 2.6.0 version installed with Homebrew, I tried my luck in finding a newer ready to use DMG.
This section of install.md suggests installing a prebuilt binary.
https://github.com/LuminanceHDR/LuminanceHDR/blob/2.6.1.1/INSTALL.md#install-prebuilt-binaries-
The [link](https://sourceforge.net/projects/qtpfsgui/files/luminance/) is presented, but there

[2022-10-15 12:17] DrLex0 commented on #101
FTR, I have 2 ways in which I usually work around the stained highlight areas:

- Either: (basically what @heckflosse described above) pre-process the input images [similar to what I described here](https://www.dr-lex.be/info-stuff/luminancehdr.html#prepro). In all but the darkest bracketed image, I clip the highest intensities to white (I have saved a curves preset in GIMP for this). Not ideal be

[2022-10-25 10:59] mtntruong commented on #260
Hi, you can overcome this error by declaring `size_t` in the file `librtprocess/src/include/librtprocess.h`. I added
[code]
after the `#include` directive, then the compilation finished successfully. Maybe there are some changes in gcc-11

[2022-11-20 18:44] DrLex0 commented on #210
Current master has made Robertson actually usable, and I suspect it's due to this pull request #233. I never used Robertson before, because it would produce glitches pretty much every time and was especially bad on dark images, with splotches of brightly colored pixels everywhere.
It would be nice to have presets for Robertson in the HDR Creation Wizard.

However, with **Debevec** I still get the

[2022-11-20 19:40] DrLex0 commented on #261
I have managed to build master on Mac OS 10.14.6 (yes, I'm still clinging on to some 32-bit x84 things), using libraries installed through Homebrew except for Qt.

This was an ordeal, so it is wise to not even try it if you have no experience with this. And unfortunately I don't have a build yet that could be distributed, it is still tied to all the library paths on my particular machine and has t

[2022-11-21 10:18] DrLex0 commented on #261
I just found out that if you [dig deep enough in replies of other issues](https://github.com/LuminanceHDR/LuminanceHDR/issues/192#issuecomment-1194372488), you will find a 2.6.1 build that should work on Big Sur. It doesn't have the latest improvements though, like the fix that makes Robertson actually usable.

[2022-11-30 23:07] DrLex0 commented on #210
Pull request #263 adds the same fix as #233 to Debevec and fixes both the over- and under-exposure problems.

![Example4-after](https://user-images.githubusercontent.com/16401844/204927222-48f9cf5d-19f7-4f95-85e9-b9d72d0c7f55.jpg)